
<section class="page">

<div>
    <img src="" alt=""/>
</div>
    
<div><img src="" alt=""/></div>

    <label>
        <span>Название</span>
        <input type="text"/>
    </label>
    <label>
        <span>Короткое описание</span>
        <input type="text"/>
    </label>
    <label>
        <span>Время работы</span>
        <input type="text"/>
    </label>
    <label>
        <span>Адрес</span>
        <input type="text"/>
    </label>
    <label>
        <span>Комментарий</span>
        <input type="text"/>
    </label>

    <div><textarea name="" id="" cols="30" rows="10"></textarea></div>

    <button class="btn">Сохранить</button>

</section>

