
<section class="page cabinet-edit">

    <div class="block clearfix logo-container clearfix">
        <div>Логотип</div>

        <!--<div class="pull-left avatar big" ng-style="{'background-image': 'url(' + edit.businessDescription.logo.URL + ')' }"></div>-->
        <div class="pull-left logo"><img ng-src="{{edit.businessDescription.logo.URL}}" alt=""/></div>

        <label class="btn btn-sm btn-primary no-border pull-left load-avatar">
            Загрузить
            <input type="file" class="logo-input" uploader="uploaderLogo" />
        </label>

        <div ng-repeat="item in uploaderLogo.queue" ng-show="uploaderLogo.isHTML5 && !uploaderLogo.queue.length" ng-thumb="{ file: item._file, height: 100 }"></div>

    </div>

    <div class="block clearfix logo-container clearfix">
        <div>Иллюстрация</div>

        <!--<div class="pull-left avatar big" ng-style="{'background-image': 'url(' + edit.businessDescription.images[0].URL + ')' }"></div>-->
        <div class="pull-left images"><img ng-src="{{edit.businessDescription.images[0].URL}}" alt=""/></div>

        <label class="btn btn-sm btn-primary no-border pull-left load-avatar">
            Загрузить
            <input type="file" nv-file-select="" uploader="uploaderImages" />
        </label>

        <div ng-repeat="item in uploaderImages.queue" ng-show="uploaderImages.isHTML5 && !uploaderImages.queue.length" ng-thumb="{ file: item._file, height: 100 }"></div>
    </div>

    <label>
        <span>Название</span>
        <input type="text" ng-model="edit.businessDescription.shortName"/>
    </label>
    <label>
        <span>Короткое описание</span>
        <input type="text" ng-model="edit.businessDescription.shortInfo"/>
    </label>
    <label>
        <span>Адрес</span>
        <input type="text" ng-model="edit.businessDescription.address"/>
    </label>

    <div class="cabinet-descr">
        <div>Полное описание</div>
        <textarea ng-model="edit.businessDescription.fullInfo"></textarea>
    </div>

    <button class="btn btn-sm btn-primary no-border" ng-click="edit.save()">Сохранить</button>
    <span ng-class="{'info-good': edit.status == 1,'error-info': edit.status == 0}">{{edit.statusText}}</span>

</section>

