
// staff settings

//.fancybox-lock
.fancybox-lock body
  overflow: visible !important;

main-radius = 2px
second-radius = 1px

html
  height 100%

body
  background #fff
  min-height 100%

a
  outline none !important

h1
  margin-top 0
  font-size 24px

.bold
  font-weight bold

.top-overflow-auto
  overflow auto
  border-bottom 1px solid #ccc

.heightAuto
  height auto !important

.alert
  padding 0
  margin-bottom 5px

.error-info
.confirm-info
  //display none
  color #ff0000
  font-size 14px

.red-text
  color #ff0000

.login-error
  text-align center
  clear right

//.login-good
.info-good
  color #62c462
  font-size 14px

.gray-text
  color #cccccc

.fa:hover{
  text-decoration none
}

.btn
  border-radius main-radius !important

.btn-group>.btn
  border-radius main-radius !important

.dropdown-menu
  min-width 115px

transform()
  -moz-transform rotate(arguments); /* Для Firefox */
  -ms-transform rotate(arguments); /* Для IE */
  -webkit-transform rotate(arguments); /* Для Safari, Chrome, iOS */
  -o-transform rotate(arguments); /* Для Opera */
  transform rotate(arguments);

.empty-messages {
  font-size: 20px;
  text-align: center;
  color: #ccc;
}

// main container
body.height100
  min-height 0
  height 100%
  padding-bottom 45px

body.height100-2
  padding-bottom 105px

.page-title
  padding 15px 0 0 10px
  font-size 20px

.page
  padding 10px

.btn-primary
.header-color-blue2
  background-color #438eb9 !important

.container
  padding 0
  max-width 1050px
  min-width 753px
  height 100%

.main-container
  height 100%

.main-container > .main-container-inner
  height 100%

.main-content
  border-right 1px solid #ccc;
  border-left 1px solid #ccc;
  min-height 100%
  &.no-margin
    margin-left 0
//margin-right 190px

.widget-main
  overflow auto
  padding 0
  padding-bottom 35px

// header
.navbar-container
  text-align center
  .navbar-brand img
    width 170px

.navbar .form-search
  width 40%
  margin 5px 0 0 200px
  .icon-search
    &:hover
      text-decoration none

.ace-nav>li
  a
    padding 11px 12px 0 12px
    line-height 1.428571429
    font-size 16px
    border none
    border-bottom 3px solid rgb(111, 179, 224)
  &.active
    a
      border-bottom-color #2b7dbc

.ace-nav .user-menu
  right 0 !important

.dropdown-menu.user-menu
  display block

.ace-nav .user-info
  max-width none

.ace-nav>.user-short a
  border none
  padding 3px 8px
  font-size 14px
  text-align left

.ace-nav>.user-short>a
  line-height inherit
  padding 0 8px
  font-size 16px

.ace-nav li:last-child .icon-caret-down
  position relative
  top -10px

.ace-nav .nav-user-photo
  border 0
  width 35px
  height 35px
  background-repeat no-repeat
  background-size cover
  background-position 50% 50%
  display inline-block
  margin-top 5px
  border-radius 0

.nav-list > li
  border 0

.nav-list > li > a
  padding 8px 10px 10px 16px
  height auto
  line-height 20px
  position relative
  background none
  span
    display inline-block
    vertical-align middle
    width 166px
    &.new-message-count
      width auto
      font-size 14px
  b
    display inline-block
    vertical-align middle

.nav-list > li > a,
.nav-list > li.active > a,
.nav-list > li.active:hover a
  font-size 15px

.nav-list > li.active > a
.nav-list > li.active:hover a
  font-weight normal !important
  &:before
    display none

.nav-list > li:hover>a
.nav-list > li.active:hover>a
  background #f2f2f2

// sidebar
.sidebar#sidebar
  height 100%
  left 0
  top 0
  bottom 0
  position absolute
  z-index 13
  border-right 0
  background none
  .show-left
    display none

.sidebar
  padding-top 10px
  vertical-align top

// footer
.footer
  text-align left
  color #a6a6a6
  border-top 1px solid #CCCCCC
  .copypast
    display inline-block
    vertical-align top
    position relative
    top -1px
  ul
    margin 0
    li
      list-style none
      display inline-block
      margin 0 5px
      &:first-child
        margin-left 0
      a
        color #a6a6a6
  &.footer-left
    padding-top 10px
    margin-top 40px
  &.footer-bottom
    padding 20px 0
    .pull-left
      padding-left 5px
  &.footer-login
    position absolute
    bottom 0
  &.footer-white
    border-top 1px solid #fff
    color #fff
    a
      color #fff

/*.sidebar-right
  position absolute
  right 0
  top 0
  width 190px
  background #fff
  margin-top 15px
  border-right 1px solid #438eb9
  h3
    font-size 14px
    font-family tahoma,arial
    margin 5px 0
  ul
    margin-left 0
    margin-bottom 0
    li
      border-top 1px solid #438eb9
      padding 5px
      list-style none
      &:first-child
        border-top 0
  .importantly-left
    float left
    width 40px
    img
      width 40px
  .importantly-right
    margin-left 50px
    line-height 14px
  .importantly-top
  .importantly-bottom
    font-size 11px
    border-bottom 1px solid #438eb9
    border-top 1px solid #438eb9
    padding 3px 5px
  .importantly-middle
    font-size 14px
    padding 3px 5px
    border-bottom 1px solid #438eb9
  .importantly-top
    font-size 18px
    border-top 1px solid #438eb9*/

// groups
.submenu
  padding 15px 10px 15px 0
  .btn
    display block
    font-size 13px
    margin-left 1px
    border 0
    border-top 3px solid rgb(111, 179, 224)
    height 35px
    padding-bottom 7px
    padding 2px 5px !important
    color #000 !important
    background-color transparent !important
    border-top-width 0 !important
    border-bottom 2px solid transparent !important
    outline none
  .border-pink
    border-color #d6487e !important
  .border-success
    border-color #82af6f !important
  .border-yellow
    border-color #fee188 !important
  .border-purple
    border-color #9585bf !important
  .btn.no-border.active
    background-color transparent !important
  .active.border-pink
    border-top-width 2px !important
  .active.border-success
    border-top-width 2px !important
  .active.border-yellow
    border-top-width 2px !important
  .active.border-purple
    border-top-width 2px !important
  &:hover
    border-color #4f99c6

/*.options
  padding 8px 0 5px 10px
  height 44px
  text-align center
  .form-group
    margin 0 130px 0 120px
    input
      height 30px
      border-radius main-radius !important
    .icon-search
      padding-top 1px
      padding-right 5px
      &:hover
        text-decoration none
  .btn-group
    float right
    margin-right 14px
    height 30px
    text-align left
  .btn-primary
    font-size 14px
    float left*/

.avatar
  width 80px
  height 80px
  background-repeat no-repeat
  background-size cover
  background-position 50% 50%
  &.short
    width 40px
    height 40px
  &.short2
    width 48px
    height 48px
  &.middle
    width 70px
    height 70px
  &.big
    width 150px
    height 150px

/*.staff-title
  font-size 14px
  text-transform uppercase*/

.rubrics-menu
  &:before
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    left: 8px;
    top: 40px;
    bottom: 0;
    border: 1px dotted #9dbdd6;
    border-width: 0 0 0 1px;
  li
    a
      padding 5px 0 5px 25px
      cursor pointer
      &:before
        content: "";
        display: inline-block;
        position: absolute;
        width: 7px;
        left: 10px;
        top: 17px;
        border-top: 1px dotted #9dbdd6
    &:hover
      a
        background-color transparent
        color #000
      .icon-double-angle-right
        display block
    &.active a
      background #f2f2f2
      color #1963aa
  .icon-double-angle-right
    position absolute
    top 7px
    left 11px
    display none

.empty
  text-align left
  color #000
  font-size 14px
  h2
    text-align center
    margin-top 0
    margin-bottom 15px
    font-size 18px
    font-weight bold

.loading
  width 150px
  height 150px
  padding-top 60px
  display inline-block
  img
    width: 30px;
    margin 0 auto
    display block


@media all and (max-width: 1280px)
  /*.navbar .form-search
    width 30%*/
  .navbar-brand
    padding-left 0
    padding-right 0

@media all and (max-width: 768px),screen and (device-width: 320px)
  .sidebar#sidebar
    margin-left -190px
    .show-left
      display block
      position fixed
      top: 40%
      z-index 120
      left -22px
      border-radius 5px 5px 0 0
      cursor pointer
      font-size 16px
      letter-spacing 1px
      border 1px solid #ccc
      background #ccc
      padding 0 10px
      transform 90deg;
  .container
    width 100%
    .main-content
      margin-left 0

@media all and (max-width: 580px)
  .login-forum
    padding-top 0
  .footer.footer-login
    width 100%