/* private-messages */
.dialog-send
  //padding-bottom 15px
  border-bottom 1px solid #ccc
  .dialog-send-center
    margin 0 60px
    textarea
      display block
      width 100%
    .dialog-send-bottom
      margin-top 10px

.page-title.top-overflow-auto
  height 66px
  margin -10px -10px 0 -10px
  padding-right 10px

.dialog
.private-messages
  padding 10px
  //padding-top 15px
  .page-title
    //padding 0
  .dialogs-container
    margin-top 15px
    .dialog-item
      overflow auto
      padding 10px
      padding-left 0
      cursor pointer
      border-bottom 1px solid #CCCCCC
      &:first-child
        border-top 1px solid #CCCCCC
    .dialog-item:hover
      background-color #f6fcff
  h2
    margin-top 0
  .private-message-single
    padding 10px
    padding-bottom 12px
    padding-left 0
    border-bottom 1px solid #CCCCCC
    &:first-child
      border-top 1px solid #CCCCCC
    .private-message-left
      width 100%
      padding-right 100px
    .private-message-ava
      img
        width 70px
    .private-message-author
      margin-left 50px
      .attached
        padding-bottom 0
      p
        margin-bottom 0
      a
        &:hover
          text-decoration none

.private-message-right
  margin-top 24px
  color #2b7dbc

.private-messages
  .private-message-single .private-message-left
  .dialog-item .private-message-left
    line-height 65px
    .private-message-left
      width 300px
    .private-message-author
      display inline-block
      vertical-align middle
      line-height 18px
      margin-left 10px
      width 220px

.dialog
  .private-message-single
    cursor default

