
/* nextdoors */

.ui-autocomplete
  list-style none
  a:hover
    text-decoration none

.ui-helper-hidden-accessible
  display none

.nextdoors
  padding 5px
  .form-search
    margin-bottom 20px
    width 100%
    clear both
    .icon-search:hover
      text-decoration none
  .nextdoor-single
    padding 10px
    overflow auto
    border 1px solid #ccc
    margin-bottom 10px
    .nextdoor-left
      span
        display block
      .nextdoor-ava
        img
          width 70px
      .nextdoor-name
        margin-left 58px

  .nextdoors-amount
    margin 15px 0 0 0
  .nextdoor-address
    clear left
    float left
    margin-left 58px
    margin-top -20px
    font-size 12px

/* coming soon */
.coming-soon
  text-align center
  min-height 0
  width 768px
  margin 0 auto
  padding-left 0
  p
    font-size 16px
  h1
    font-size 40px
  .navbar-brand
    padding-left 0


// maps
.maps
  img
    width 100%
    display block


//set-info
.set-info
  clear right
  label
    display block
    input
      width 150px
      display inline-block
    span
      width 80px
      display inline-block
  .set-info-save
    color #fff

// important page
.important
  .page-title.top-overflow-auto
    margin-bottom 15px


// контакты, о нас, блог
.wrap
  width 990px
  margin 0 auto
  text-align left
  &.contacts
    .input
      width 300px
      display block
      margin-bottom 10px
    textarea
      width 500px
      height 100px
      display block
      margin-bottom 10px
    .contacts-user
      margin-bottom 10px
      .user-name
        margin-left 50px
    .send
      margin-right 15px

.blog
  text-align left
  width 760px
  margin 0 auto
  .post
    padding 5px 0
    border-top 1px solid #ccc
    &:first-child
      border-top 0
    p,li
      font-size 14px
    .post-team
      text-align center
      li
        list-style none
        display inline-block
        vertical-align top
        margin 0 15px
        width 200px
        img
          max-width 200px
          max-height 200px
          display block
          margin 0 auto
          margin-bottom 5px
    .input-group
      display block
      .btn
        display inline-block
        margin-bottom 15px
  .dialogs
    padding 0
  .anonName
    width 100%
    margin-bottom 10px
  .message-textarea
    width 100%
    margin-bottom 10px
  .input-group
    padding-top 10px
  .no-link
    cursor default
    color #000
    &:hover
      color #000
      text-decoration none
  .post-date
    margin-left 210px;
  .post-avatar
    width 200px
  .topic
  .topic-stuff
    margin-left 10px
    padding-bottom 10px
  .lenta-item-bottom
    span
    a
      display inline-block
    a
      margin-left 5px
  .itemdiv.dialogdiv > .body
    padding-bottom 0
.about
  text-align left
  padding-top 10px
  padding-left 10px
  p,li
    font-size 14px
  .footer li
    font-size 13px
.contacts
  padding-left 10px
  textarea.content
    overflow hidden

.user-notification
  width 100%
  background #ffc89a
  span
    color #fff
    padding 4px 10px
    display block
    margin-right 20px
  a
    color #fff
    display inline-block
    margin-right 10px
    margin-top 4px
    &:hover
      text-decoration none

.login-layout .user-notification
  position absolute
  top -60px

/* nearby */
.nearby
  padding 10px
  width auto
  h2,h3
    margin-top 0
  .topic
    margin-left 0
.nearby-list
  border 1px solid #438eb9
  margin-bottom 10px
  padding 10px
.nearby-list-left
  width 150px
  img
    width 100%
.nearby-list-right
  margin-left 15px
  max-width 400px
.nearby-more
  font-size 14px
  font-weight normal
  margin-top -36px
  margin-right 20px

/* --- */
.unconfirm
  padding 15px
  h2
    margin-top 0
  .error-info
    left 0
.code-block
  text-align center
  float none !important
  .error-info
    left 0


