@import 'lib/bootstrap.min.css';
@import 'lib/font-awesome-original.css';
@import 'lib/font-awesome.min.css';
@import 'lib/ace-fonts.css';
@import 'lib/ace.css';
@import 'common.css';
@import 'talks.css';
@import 'wall.css';
@import 'dialogs.css';
@import 'profile.css';
@import 'settings.css';
@import 'counters.css';
@import 'others.css';
@import 'login.css';
.business-logout {
  color: #fff;
  margin: 12px 20px 0 0;
}
.business-logout:hover {
  text-decoration: none;
  color: #fff;
}
.cabinet-left {
  width: 350px;
}
.cabinet-left img {
  width: 100%;
}
.cabinet-right {
  margin-left: 360px;
  font-size: 16px;
}
.carousel-control .glyphicon {
  font-family: Arial, sans-serif;
}
.carousel-control span {
  margin-top: -15px;
  cursor: pointer;
}
.carousel-control.left span {
  left: 10px;
}
.carousel-control.right span {
  left: auto;
  right: 10px;
}
.carousel-control span:before {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 30px;
  margin-top: -15px;
}
.carousel-control.left span:before {
  content: "\f053";
}
.carousel-control.right span:before {
  content: "\f054";
}
.cabinet-edit {
  font-size: 14px;
}
.cabinet-edit label {
  display: block;
}
.cabinet-edit label span {
  display: inline-block;
  width: 150px;
}
.cabinet-edit label input {
  display: inline-block;
  width: 300px;
}
.cabinet-edit textarea {
  display: block;
  width: 100%;
  height: 60px;
}
.cabinet-edit .cabinet-descr {
  margin-bottom: 10px;
}
.cabinet-edit .load-avatar {
  margin-left: 15px;
  width: auto;
  padding: 10px 15px;
}
.cabinet-edit .load-avatar input {
  display: none;
}
.cabinet-edit .logo,
.cabinet-edit .images {
  margin-top: 5px;
  margin-bottom: 10px;
  min-width: 150px;
}
.cabinet-edit .logo img,
.cabinet-edit .images img {
  width: 100%;
  margin-bottom: 10px;
}
.cabinet-edit .images {
  width: 300px;
}
.statistic-analytics {
  font-size: 15px;
  margin-bottom: 10px;
}
