@import 'login.css';
@import 'profile.css';
html {
  height: 100%;
}
body {
  background: #fff;
  min-height: 100%;
}
body.height100 {
  min-height: 0;
  height: 100%;
  padding-bottom: 45px;
}
body.height100-2 {
  padding-bottom: 105px;
}
a {
  outline: none !important;
}
h1 {
  margin-top: 0;
  font-size: 24px;
}
.bold {
  font-weight: bold;
}
.btn-primary,
.header-color-blue2 {
  background-color: #438eb9 !important;
}
.top-overflow-auto {
  overflow: auto;
  border-bottom: 1px solid #ccc;
}
.container {
  padding: 0;
  max-width: 1050px;
  min-width: 753px;
  height: 100%;
}
.main-container {
  height: 100%;
}
.main-container > .main-container-inner {
  height: 100%;
}
.heightAuto {
  height: auto !important;
}
.navbar-container {
  text-align: center;
}
.navbar-container .navbar-brand img {
  width: 170px;
}
.navbar .form-search {
  width: 40%;
  margin: 5px 0 0 200px;
}
.navbar .form-search .icon-search:hover {
  text-decoration: none;
}
.ace-nav>li a {
  padding: 11px 12px 0 12px;
  line-height: 1.428571429;
  font-size: 16px;
  border: none;
  border-bottom: 3px solid #6fb3e0;
}
.ace-nav>li.active a {
  border-bottom-color: #2b7dbc;
}
.ace-nav .user-menu {
  right: 0 !important;
}
.ace-nav .user-info {
  max-width: none;
}
.ace-nav>.user-short a {
  border: none;
  padding: 3px 8px;
  font-size: 14px;
  text-align: left;
}
.ace-nav>.user-short>a {
  line-height: inherit;
  padding: 0 8px;
  font-size: 16px;
}
.ace-nav li:last-child .icon-caret-down {
  position: relative;
  top: -10px;
}
.ace-nav .nav-user-photo {
  border: 0;
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  display: inline-block;
  margin-top: 5px;
  border-radius: 0;
}
.nav-list > li {
  border: 0;
}
.nav-list > li > a {
  padding: 8px 10px 10px 16px;
  height: auto;
  line-height: 20px;
  position: relative;
  background: none;
}
.nav-list > li > a span {
  display: inline-block;
  vertical-align: middle;
  width: 166px;
}
.nav-list > li > a span.new-message-count {
  width: auto;
  font-size: 14px;
}
.nav-list > li > a b {
  display: inline-block;
  vertical-align: middle;
}
.nav-list > li > a,
.nav-list > li.active > a,
.nav-list > li.active:hover a {
  font-size: 15px;
}
.nav-list > li.active > a,
.nav-list > li.active:hover a {
  font-weight: normal !important;
}
.nav-list > li.active > a:before,
.nav-list > li.active:hover a:before {
  display: none;
}
.nav-list > li:hover a,
.nav-list > li.active:hover a {
  background: #f2f2f2;
}
.sidebar#sidebar {
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 13;
  border-right: 0;
  background: none;
}
.sidebar#sidebar .show-left {
  display: none;
}
.footer {
  text-align: left;
  color: #a6a6a6;
  border-top: 1px solid #ccc;
}
.footer .copypast {
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: -1px;
}
.footer ul {
  margin: 0;
}
.footer ul li {
  list-style: none;
  display: inline-block;
  margin: 0 5px;
}
.footer ul li:first-child {
  margin-left: 0;
}
.footer ul li a {
  color: #a6a6a6;
}
.footer.footer-left {
  padding-top: 10px;
  margin-top: 40px;
}
.footer.footer-bottom {
  padding: 20px 0;
}
.footer.footer-bottom .pull-left {
  padding-left: 5px;
}
.footer.footer-login {
  position: absolute;
  bottom: 0;
}
.footer.footer-white {
  border-top: 1px solid #fff;
  color: #fff;
}
.footer.footer-white a {
  color: #fff;
}
.sidebar-right {
  position: absolute;
  right: 0;
  top: 0;
  width: 190px;
  background: #fff;
  margin-top: 15px;
  border-right: 1px solid #438eb9;
}
.sidebar-right h3 {
  font-size: 14px;
  font-family: tahoma, arial;
  margin: 5px 0;
}
.sidebar-right ul {
  margin-left: 0;
  margin-bottom: 0;
}
.sidebar-right ul li {
  border-top: 1px solid #438eb9;
  padding: 5px;
  list-style: none;
}
.sidebar-right ul li:first-child {
  border-top: 0;
}
.sidebar-right .importantly-left {
  float: left;
  width: 40px;
}
.sidebar-right .importantly-left img {
  width: 40px;
}
.sidebar-right .importantly-right {
  margin-left: 50px;
  line-height: 14px;
}
.sidebar-right .importantly-top,
.sidebar-right .importantly-bottom {
  font-size: 11px;
  border-bottom: 1px solid #438eb9;
  border-top: 1px solid #438eb9;
  padding: 3px 5px;
}
.sidebar-right .importantly-middle {
  font-size: 14px;
  padding: 3px 5px;
  border-bottom: 1px solid #438eb9;
}
.sidebar-right .importantly-top {
  font-size: 18px;
  border-top: 1px solid #438eb9;
}
.btn {
  border-radius: 2px !important;
}
.page-title {
  padding: 15px 0 0 10px;
  font-size: 20px;
}
/*.main-content-top
  border-bottom 1px solid #ccc*/
.submenu {
  padding: 15px 10px 15px 0;
}
.submenu .btn {
  display: block;
  font-size: 14px;
  margin-left: 1px;
  border: 0;
  border-top: 3px solid #6fb3e0;
  height: 35px;
  padding-bottom: 7px;
}
.submenu .btn:hover {
  border-color: #4f99c6;
}
.btn-group>.btn {
  border-radius: 2px !important;
}
.dropdown-menu {
  min-width: 115px;
}
.options {
  padding: 8px 0 5px 10px;
  height: 44px;
  text-align: center;
}
.options .form-group {
  margin: 0 130px 0 120px;
}
.options .form-group input {
  height: 30px;
  border-radius: 2px !important;
}
.options .form-group .icon-search {
  padding-top: 1px;
  padding-right: 5px;
}
.options .form-group .icon-search:hover {
  text-decoration: none;
}
.options .btn-group {
  float: right;
  margin-right: 14px;
  height: 30px;
  text-align: left;
}
.options .btn-primary {
  font-size: 14px;
  float: left;
}
.sidebar {
  padding-top: 20px;
  vertical-align: top;
}
.main-content {
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  min-height: 100%;
}
.widget-main {
  overflow: auto;
  padding: 0;
  padding-bottom: 35px;
}
.talks-single .widget-main,
.adverts-single .widget-main {
  overflow: inherit;
}
.fa:hover {
  text-decoration: none;
}
.topic-item {
  margin-bottom: 10px;
}
.topic-item .topic-descr {
  border-bottom: 1px solid #5090c1;
  border-radius: 2px;
}
.topic-item .topic-descr .topic-header-left {
  display: none;
}
.topic-item .topic-descr header {
  height: 40px;
  line-height: 37px;
}
.topic-item .topic-descr header:after {
  clear: none;
}
.topic-item .topic-descr header .widget-toolbar {
  float: right;
  vertical-align: middle;
  padding-left: 10px;
  margin-right: 8px;
  padding-right: 0;
  border-left: 1px solid #fff;
  height: 100%;
}
.topic-item .topic-descr header .widget-toolbar a {
  display: inline-block;
  vertical-align: middle;
  margin: 0 4px;
  color: #fff;
  font-size: 1.5em;
}
.topic-item .topic-descr header .widget-toolbar a:hover {
  text-decoration: none;
}
.topic-item .topic-descr header h2 {
  margin: 0 100px 0 90px;
  vertical-align: middle;
  height: 39px;
  line-height: 39px;
  overflow: hidden;
  font-size: 18px;
  font-weight: bold;
}
.topic-item .topic-descr header h2.small {
  font-size: 16px;
}
.topic-item .topic-descr header h2 span {
  vertical-align: middle;
  line-height: 18px;
  display: inline-block;
  float: none;
}
.topic-item .topic-descr header span {
  float: left;
  vertical-align: middle;
}
.topic-item .topic-descr .topic-right h2 {
  margin-top: 0;
  font-size: 20px;
  padding-right: 190px;
}
.topic-item .topic-descr .topic-right .fa-relations {
  float: right;
  font-size: 16px;
  opacity: 0;
}
.topic-item .topic-descr .topic-right .fa-sitemap {
  float: right;
  margin-right: 10px;
  opacity: 0;
}
.topic-item .topic-descr .topic-right .likes {
  text-align: right;
}
.topic-item .topic-descr .topic-right .likes a {
  display: inline-block;
}
.topic-item .topic-descr .topic-right .likes a:hover {
  text-decoration: none;
}
.topic-item .topic-descr .topic-right .likes .like-item {
  display: inline-block;
  margin: 0 5px;
  font-size: 18px;
}
.topic-item .topic-descr .topic-right .likes .like-item span {
  display: inline-block;
  font-size: 14px;
  color: #000;
}
.topic-item .topic-descr .topic-left {
  float: left;
  text-align: center;
  width: 55px;
}
.topic-item .topic-descr .topic-left .plus-minus {
  font-size: 30px;
  margin-top: 5px;
  position: relative;
  z-index: 2;
}
.topic-item .topic-descr .topic-left img {
  width: 95px;
}
.topic-item .topic-descr .topic-left .topic-author {
  font-size: 14px;
  text-align: left;
}
.topic-item .topic-descr .topic-left .author-rating a {
  display: inline-block;
}
.topic-item .topic-descr .topic-left .author-rating a:hover {
  text-decoration: none;
}
.topic-item .topic-descr footer {
  clear: left;
  line-height: 30px;
  border-radius: 0 0 2px 2px;
  padding: 0;
  height: 38px;
}
.topic-item .topic-descr footer .answers-ctrl {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 115px;
  height: 37px;
  border-right: 1px solid #ccc;
}
.topic-item .topic-descr footer .answers-ctrl a {
  display: inline-block;
  vertical-align: top;
  font-size: 30px;
  line-height: 40px;
}
.topic-item .topic-descr footer .answers-ctrl a:hover {
  text-decoration: none;
}
.topic-item .topic-descr footer .answers-ctrl span {
  display: inline-block;
  vertical-align: middle;
  line-height: 35px;
  margin-left: 10px;
}
.topic-item .topic-descr footer .answers-ctrl span span {
  margin-left: 0;
}
.topic-item .topic-descr footer .answers-ctrl span a {
  font-size: 12px;
  display: inline-block;
  color: #000;
  font-weight: bold;
  line-height: 35px;
  vertical-align: middle;
}
.topic-item .topic-descr footer .answers-ctrl span a:hover {
  text-decoration: underline;
}
.topic-item .topic-descr footer .ans-btn {
  float: right;
  margin: 3px 8px 0 0;
}
.topic-item .topic-descr footer .topic-statistic {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
.topic-item .topic-descr.one-message .answer-date {
  color: #808080;
  float: left;
  margin-top: 5px;
}
.topic-item .topic-descr.one-message .message-author {
  margin-bottom: 10px;
  font-size: 14px;
}
.dd .topic-right {
  margin-left: 95px;
}
.dd-list .dd-list {
  padding-left: 37px;
}
.dd-list .dd-list .topic-right {
  margin-left: 60px;
}
.one-message .like-item .fa {
  margin-right: 5px;
}
.alert {
  padding: 0;
  margin-bottom: 5px;
}
.one-message {
  border-radius: 1px !important;
}
.wysiwig-box {
  display: none;
}
.one-message+.wysiwig-box {
  border: 1px solid #5090c1;
}
.widget-header.fixed {
  position: fixed;
  top: 0;
  z-index: 10;
  margin-left: -1px;
}
.widget-header.fixed .topic-header-left {
  display: inline-block;
  line-height: 40px;
  width: 101px;
}
.widget-header.fixed .topic-header-left i {
  cursor: pointer;
  font-size: 1.5em;
  margin-left: 20px;
  vertical-align: middle;
}
.widget-header.fixed .topic-header-left i.fa-minus,
.widget-header.fixed .topic-header-left i.fa-plus {
  font-size: 30px;
}
.widget-header.fixed .topic-header-date {
  display: none;
}
.dd>.dd-list>.topic-item.list-view .dd-list {
  padding-left: 0;
}
.dd>.dd-list>.topic-item >.topic-descr {
  background: #ddedf6;
  padding: 5px;
  padding-bottom: 0;
}
.dd>.dd-list>.topic-item.list-view>.dd-list {
  padding-left: 30px;
}
.dd-item {
  min-height: 0;
  margin: 10px 0;
}
.wysiwyg-editor a {
  cursor: pointer;
}
.empty-messages {
  font-size: 20px;
  text-align: center;
  color: #ccc;
}
@media all and (max-width: 1280px) {
  .navbar .form-search {
    width: 30%;
  }
  .navbar-brand {
    padding-left: 0;
    padding-right: 0;
  }
}
@media all and (max-width: 1000px) {
  .navbar .form-search {
    width: 10%;
  }
  .create-topic-btn {
    clear: right;
    float: left !important;
    margin-left: 10px;
    margin-top: -30px;
  }
}
@media all and (max-width: 768px), screen and (device-width: 320px) {
  .sidebar#sidebar {
    margin-left: -190px;
  }
  .sidebar#sidebar .show-left {
    display: block;
    position: fixed;
    top: 40%;
    z-index: 120;
    left: -22px;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 1px;
    border: 1px solid #ccc;
    background: #ccc;
    padding: 0 10px;
    -moz-transform: rotate(90deg);
/* Для Firefox */
    -ms-transform: rotate(90deg);
/* Для IE */
    -webkit-transform: rotate(90deg);
/* Для Safari, Chrome, iOS */
    -o-transform: rotate(90deg);
/* Для Opera */
    transform: rotate(90deg);
  }
  .container {
    width: 100%;
  }
  .container .main-content {
    margin-left: 0;
  }
}
/* создание темы */
.create-topic {
  padding: 0 10px;
  background: #ddedf6;
}
.create-topic .topic-body textarea {
  width: 100%;
  overflow: hidden;
}
.create-topic >.btn-group {
  float: right;
  margin-left: 5px;
}
.create-topic .wysiwig-box {
  display: block;
}
.create-topic .wysiwig-box .pull-left .btn {
  margin-right: 5px;
}
.create-topic .wysiwyg-editor {
  border-left: 1px solid #ccc;
}
.create-topic .message-input-bottom {
  margin-top: 10px;
}
/* новые стили после редизайна 11.06.14 */
.itemdiv > .user {
  width: auto;
}
.itemdiv > .user > img {
  border-radius: 0;
}
.itemdiv.dialogdiv > .body {
  padding-bottom: 26px;
}
.itemdiv {
  padding-right: 0;
}
.btn.active:after {
  border-bottom: 0;
}
.btn-info.no-border.active {
  background: #4184af !important;
  border-color: #4184af !important;
}
.no-resize {
  resize: none;
}
.page {
  padding: 10px;
}
.message-input {
  padding: 10px;
  margin-bottom: 15px;
  background: #ddedf6;
}
.message-input textarea {
  width: 100%;
  overflow: hidden;
}
.message-input .message-input-bottom {
  margin-top: 15px;
}
.message-input .talk-subject {
  margin-bottom: 10px;
}
.message-tools {
  margin-left: 10%;
}
.message-tools a {
  color: #ccc;
  font-size: 16px;
}
.message-tools .message-delete-link {
  font-size: 20px;
  margin-top: -4px;
  line-height: 20px;
}
.message-tools .message-delete-link:hover {
  color: #f00;
  text-decoration: none;
}
.message-tools .fa-pencil {
  margin-right: 8px;
}
.message-tools .fa-pencil:hover {
  color: #438eb9;
}
.hashtag {
  margin-left: 10px;
  margin-right: 10px;
}
.label-lg {
  height: 18px;
  padding: 0.2em 0.6em 0.2em;
  line-height: 1;
}
.label-lg.arrowed:before {
  border-width: 9px 6px;
}
.attach-area .attach-item {
  display: inline-block;
  vertical-align: top;
  margin-right: 1px;
  margin-top: 5px;
}
.attach-area .attached-img {
  width: 150px;
  height: 150px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}
.attach-area .remove-attach-img {
  font-size: 20px;
  color: #f00;
  float: right;
  margin-left: -13px;
  line-height: 10px;
  position: relative;
}
.attach-area .remove-attach-img:hover {
  text-decoration: none;
}
.attach-area.attach-area-doc .remove-attach-img {
  margin-left: 0;
}
.attach-dropdown li a:hover {
  background: #4f99c6;
  color: #fff;
}
.attach-dropdown .ace-file-input {
  margin-bottom: 0;
  line-height: 1.5;
}
.attach-dropdown .ace-file-input .file-label {
  border: 0;
  text-align: left;
  margin-bottom: 0;
  background-color: transparent;
  transition: none;
}
.attach-dropdown .ace-file-input .file-label:before {
  font-size: 13px;
  font-weight: normal;
  color: #000;
  margin: 0;
  line-height: 14px;
  background-color: transparent;
  transition: none;
  padding: 0;
  padding-left: 11px;
}
.attach-dropdown .ace-file-input:hover {
  color: #fff;
  background: #4f99c6;
}
.attach-dropdown .ace-file-input:hover .file-label:before {
  color: #fff;
}
.attached a {
  display: inline-block;
  vertical-align: top;
  margin: 0 2px;
}
.attached a img {
  margin-bottom: 10px;
  max-width: 150px;
  max-height: 150px;
}
.dialogdiv .attached {
  padding-bottom: 0;
}
.create-poll {
  margin-bottom: 10px;
}
.create-poll h5 {
  font-family: tahoma, arial;
}
.create-poll input {
  width: 100%;
  margin-bottom: 5px;
}
.create-poll .poll-readonly {
  cursor: text;
}
.create-poll .poll-cancel {
  font-size: 24px;
  margin-top: -10px;
}
.create-poll .poll-cancel:hover {
  text-decoration: none;
}
.poll-results .poll-result-item {
  margin-bottom: 10px;
}
.poll-results .poll-result-item .poll-result-variant {
  font-size: 14px;
}
.poll-results .poll-result-item .poll-row .poll-row-line {
  display: inline-block;
  color: #8ba1bc;
  width: 84%;
  text-align: center;
  line-height: 15px;
  background-color: #f7f7f7;
}
.poll-results .poll-result-item .poll-row .poll-row-line .poll-line-percent {
  background-color: #dae1e8;
  height: 15px;
}
.poll-results .poll-result-item .poll-row .poll-row-line .poll-line-number {
  height: 15px;
  margin-top: -15px;
}
.poll-results .poll-result-item .poll-row .poll-row-percent {
  display: inline-block;
  width: 15%;
}
.lenta-item .wallitem-message,
.lenta-item .wallitem-topic {
  margin: 0 10px;
}
.lenta-item .wallitem-message {
  padding-top: 10px;
  border-top: 1px solid #5090c1;
}
.lenta-item .wallitem-message.wall-single {
  border: 0;
}
.lenta-item .wallitem-message .input-group {
  display: block;
}
.lenta-item .wallitem-message .input-group .input-group-btn {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.lenta-item .first-message {
  border: 1px solid #d7dbdd;
  position: relative;
  padding: 5px;
}
.lenta-item .first-message .user {
  float: left;
}
.lenta-item .first-message .user img {
  width: 100px;
}
.lenta-item .first-message .body {
  margin-left: 90px;
  padding-bottom: 20px;
}
.lenta-item .first-message .body .time {
  float: right;
}
.lenta-item .first-message .body .tools {
  position: absolute;
  right: 5px;
}
.lenta-item .first-message .poll {
  padding-bottom: 20px;
}
.lenta-item .first-message .poll .lbl:before {
  margin-right: 10px;
}
.lenta-item .first-message .poll h5 {
  font-family: tahoma, arial;
}
.lenta-item .dialogs {
  clear: left;
  margin: 0 0 0 30px;
  padding-top: 11px;
  padding-right: 0;
}
.lenta-item .lenta-item-bottom {
  position: absolute;
  bottom: 3px;
  width: 100%;
  margin-left: -95px;
  padding-left: 95px;
  padding-right: 15px;
  font-size: 12px;
}
.lenta-item:last-child .wallitem-message {
  border-bottom: 1px solid #5090c1;
}
.lenta-item .wallitem-topic .talks-title {
  border-bottom: 0;
}
.lenta-item .show-all-comments {
  text-align: center;
  padding: 5px 0;
  margin-top: -9px;
  font-size: 13px;
}
.lenta .bottom-border-line {
  height: 1px;
  background: #5090c1;
  margin: 0 10px;
}
.answer-block {
  width: 100%;
}
.answer-block .input-group-btn {
  display: block;
  width: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.message-textarea {
  width: 100%;
  overflow: hidden;
  display: block;
}
.message-textarea,
.topic-textarea {
  line-height: inherit;
}
.edit-message .btn {
  border-width: 2px;
}
.edit-message .message-input {
  padding: 10px 0;
  background: inherit;
}
.talks-single .message-input,
.adverts-single .message-input {
  padding-left: 0;
  padding-top: 25px;
}
.edit-textarea {
  margin: 5px 0;
}
.forum-wrap {
  font-size: 14px;
}
.fa-star,
.fa-heart {
  color: #ccc;
  font-size: 16px;
  margin-right: 3px;
  margin-top: 4px;
}
.important-status:hover .fa-star,
.important-status.important .fa-star {
  color: #ffea4a;
}
.like-status {
  margin-right: 10px;
}
.like-status:hover .fa-heart,
.like-status.isLike .fa-heart {
  color: #f00;
}
.talks-title .like-status {
  margin-right: 5px;
}
.talks-title .fa-star {
  margin-right: 6px;
}
.important-status:hover,
.like-status:hover {
  text-decoration: none;
}
.like-help {
  position: absolute;
  right: 50px;
  top: 30px;
  padding: 5px;
  background: #efefef;
  border-radius: 2px;
  display: none;
}
.itemdiv.dialogdiv > .body {
  margin-left: 58px;
  font-size: 14px;
}
.avatar {
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.avatar.short {
  width: 40px;
  height: 40px;
}
.avatar.short2 {
  width: 48px;
  height: 48px;
}
.avatar.middle {
  width: 70px;
  height: 70px;
}
.avatar.big {
  width: 150px;
  height: 150px;
}
.user-ribbon.short2 {
  width: 48px;
  clear: left;
}
.user-ribbon {
  height: 5px;
  margin-top: 5px;
  width: 100%;
}
.create-topic-btn {
  overflow: auto;
}
.create-topic-btn a {
  float: right;
  margin: 15px 10px 15px 0;
}
.talks-title {
  padding: 10px;
  overflow: auto;
  position: relative;
  border-top: 1px solid #5090c1;
}
.talks-title:last-child {
  border-bottom: 1px solid #5090c1;
}
.talks-title .talks-title-left {
  padding-right: 130px;
}
.talks-title .talks-title-left >a {
  font-weight: bold;
  font-size: 16px;
}
.talks-title .talks-title-left .talks-title-links {
  margin-left: 55px;
}
.talks-title .talks-title-left .talks-title-links a {
  display: block;
}
.talks-title .talks-title-left .talks-title-links a:first-child {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 7px;
}
.talks-title .talks-title-right {
  float: right;
}
.talks-title .talks-title-right .adverts-comments {
  padding-top: 5px;
}
.talks-title .talks-title-right .adverts-comments span {
  display: inline-block;
  margin-right: 20px;
}
.talks-title .last-update {
  margin-top: -22px;
}
.talks-block {
  padding: 0 10px;
/* private-messages */
}
.talks-block .talks-single {
  padding-top: 10px;
}
.talks-block .talks-single .dd-item {
  margin-top: 0;
}
.talks-block .talks-single .dd-item .dd2-content {
  margin-top: 0;
  margin-bottom: 10px;
}
.talks-block .answer-input textarea {
  width: 100%;
  overflow: hidden;
}
.talks-block .answer-input .answer-input-bottom {
  margin-top: 10px;
  padding-bottom: 10px;
}
.talks-block .widget-main {
  position: relative;
}
.talks-block .message-bottom {
  position: absolute;
  bottom: 3px;
  width: 100%;
  margin-left: -95px;
  padding-left: 95px;
  padding-right: 15px;
  font-size: 13px;
}
.talks-block .poll {
  padding-bottom: 30px;
}
.talks-block .poll .radio .lbl:before {
  margin-right: 10px;
}
.talks-block .poll h5 {
  font-family: tahoma, arial;
}
.dialog-send {
  border-bottom: 1px solid #ccc;
}
.dialog-send .dialog-send-center {
  margin: 0 60px;
}
.dialog-send .dialog-send-center textarea {
  display: block;
  width: 100%;
}
.dialog-send .dialog-send-center .dialog-send-bottom {
  margin-top: 10px;
}
.dialog,
.private-messages {
  padding: 10px;
  padding-top: 15px;
}
.dialog .page-title,
.private-messages .page-title {
  padding: 0;
}
.dialog .dialogs-container,
.private-messages .dialogs-container {
  margin-top: 15px;
}
.dialog .dialogs-container .dialog-item,
.private-messages .dialogs-container .dialog-item {
  overflow: auto;
  padding: 10px;
  padding-left: 0;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}
.dialog .dialogs-container .dialog-item:first-child,
.private-messages .dialogs-container .dialog-item:first-child {
  border-top: 1px solid #ccc;
}
.dialog .dialogs-container .dialog-item:hover,
.private-messages .dialogs-container .dialog-item:hover {
  background-color: #f6fcff;
}
.dialog h2,
.private-messages h2 {
  margin-top: 0;
}
.dialog .private-message-single,
.private-messages .private-message-single {
  padding: 10px;
  padding-bottom: 12px;
  padding-left: 0;
  border-bottom: 1px solid #ccc;
}
.dialog .private-message-single:first-child,
.private-messages .private-message-single:first-child {
  border-top: 1px solid #ccc;
}
.dialog .private-message-single .private-message-left,
.private-messages .private-message-single .private-message-left {
  width: 100%;
  padding-right: 100px;
}
.dialog .private-message-single .private-message-ava img,
.private-messages .private-message-single .private-message-ava img {
  width: 70px;
}
.dialog .private-message-single .private-message-author,
.private-messages .private-message-single .private-message-author {
  margin-left: 50px;
}
.dialog .private-message-single .private-message-author .attached,
.private-messages .private-message-single .private-message-author .attached {
  padding-bottom: 0;
}
.dialog .private-message-single .private-message-author p,
.private-messages .private-message-single .private-message-author p {
  margin-bottom: 0;
}
.dialog .private-message-single .private-message-author a:hover,
.private-messages .private-message-single .private-message-author a:hover {
  text-decoration: none;
}
.private-message-right {
  margin-top: 24px;
  color: #2b7dbc;
}
.private-messages .private-message-single .private-message-left,
.private-messages .dialog-item .private-message-left {
  line-height: 65px;
}
.private-messages .private-message-single .private-message-left .private-message-left,
.private-messages .dialog-item .private-message-left .private-message-left {
  width: 300px;
}
.private-messages .private-message-single .private-message-left .private-message-author,
.private-messages .dialog-item .private-message-left .private-message-author {
  display: inline-block;
  vertical-align: middle;
  line-height: 18px;
  margin-left: 10px;
  width: 220px;
}
.dialog .private-message-single {
  cursor: default;
/* nextdoors */
}
.nextdoors {
  padding: 5px;
}
.nextdoors .form-search {
  margin-bottom: 20px;
  width: 100%;
  clear: both;
}
.nextdoors .form-search .icon-search:hover {
  text-decoration: none;
}
.nextdoors .nextdoor-single {
  padding: 10px;
  overflow: auto;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
.nextdoors .nextdoor-single .nextdoor-left span {
  display: block;
}
.nextdoors .nextdoor-single .nextdoor-left .nextdoor-ava img {
  width: 70px;
}
.nextdoors .nextdoor-single .nextdoor-left .nextdoor-name {
  margin-left: 58px;
}
.nextdoors .nextdoors-amount {
  margin: 15px 0 0 0;
}
.nextdoors .nextdoor-address {
  clear: left;
  float: left;
  margin-left: 58px;
  margin-top: -20px;
/* profle */
}
.user-body .user-body-left .logo-container {
  position: relative;
  width: 150px;
  height: 150px;
}
.user-body .user-body-left .logo-container .change-avatar-link {
  background: rgba(0,0,0,0.3);
  text-align: center;
  color: #fff;
  display: block;
  position: relative;
  top: -26px;
}
.user-body .user-body-left .logo-container .change-avatar-link:hover {
  text-decoration: none;
}
.user-body .user-body-left .ace-file-input {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.user-body .user-body-left .ace-file-input input {
  height: 0;
}
.user-body .user-body-left .ace-file-input .file-label {
  height: 150px;
  width: 150px;
  background: rgba(255,255,255,0.1);
  line-height: 100px;
  border: none;
}
.user-body .user-body-left .ace-file-input .file-label:before {
  background: rgba(0,0,0,0.4);
  color: #fff;
  bottom: 0;
  top: auto;
  height: 30px;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
}
.user-body .user-body-left .ace-file-input .file-name {
  display: inline-block;
  vertical-align: middle;
}
.user-body .user-body-left .rating {
  text-align: center;
/*margin-top -20px
      position relative
      z-index 2*/
}
.user-body .user-body-left .rating .rating-item {
  display: inline-block;
  margin: 0 10px;
}
.user-body .user-body-left .rating .rating-item a {
  display: inline-block;
  margin-right: 5px;
  font-size: 18px;
}
.user-body .user-body-left .rating .rating-item span {
  display: inline-block;
}
.user-body .user-body-left .rating .rating-item .fa-star {
  color: #ffea4a;
}
.user-body .user-body-left .rating .rating-item .fa-heart {
  color: #f00;
}
.user-body .user-body-left img {
  max-width: 150px;
  max-height: 150px;
  display: block;
  margin: 0 auto;
}
.user-body .user-body-left img.new {
  width: 150px;
  height: 150px;
  background-position: center center;
}
.user-body .user-body-right {
  margin-left: 170px;
}
.user-body .user-body-right .home-map {
  padding: 0 10px 10px 0;
}
.user-body .user-body-right .home-map img {
  width: 100%;
  display: block;
}
/* write-message */
.write-message .select2-container {
  margin-bottom: 10px;
}
.write-message .write-message-bottom {
  padding-top: 10px;
}
.ui-autocomplete {
  list-style: none;
}
.ui-autocomplete a:hover {
  text-decoration: none;
}
.ui-helper-hidden-accessible {
  display: none;
}
/* change-avatar */
.ui-dialog .ui-dialog-titlebar {
  background: #fff;
}
.ui-dialog .ui-dialog-titlebar-close {
  float: right;
}
.ui-dialog .ui-dialog-content {
  padding: 0;
}
.loadAvatar-area h2 {
  margin-top: 0;
  margin-bottom: 30px;
}
.load-avatar {
  display: block;
  width: 150px;
  margin: 0 auto;
  padding: 0;
  border-width: 0;
  border: 0;
}
.load-avatar:active,
.load-avatar:focus {
  border: 0;
  outline: none;
}
.load-avatar .ace-file-input,
.load-avatar .file-label {
  margin-bottom: 0;
}
.load-avatar .file-label {
  font-weight: normal;
  color: #fff;
  background-color: inherit;
  margin: 0;
  border: 0;
}
.load-avatar .file-label:before {
  color: #fff;
  background-color: inherit;
  font-weight: normal;
  border: 0;
  margin: 0;
  font-size: 16px;
}
.load-avatar img {
  max-width: 500px;
  max-height: 500px;
}
.btn-back {
  margin: 10px 0;
}
.ui-dialog-content {
  text-align: center;
}
#image-for-crop {
  min-width: 200px;
  min-height: 200px;
}
.preview-container {
  overflow: hidden;
  width: 150px;
  height: 150px;
  margin: 0 auto;
}
.jcrop-holder {
  background: transparent !important;
  overflow: hidden;
  margin: 0 auto;
}
.load-avatar-error {
  padding: 0 10px;
/* coming soon */
}
.coming-soon {
  text-align: center;
  min-height: 0;
  width: 768px;
  margin: 0 auto;
  padding-left: 0;
}
.coming-soon p {
  font-size: 16px;
}
.coming-soon h1 {
  font-size: 40px;
}
.coming-soon .navbar-brand {
  padding-left: 0;
}
.maps img {
  width: 100%;
  display: block;
}
.set-info {
  clear: right;
}
.set-info label {
  display: block;
}
.set-info label input {
  width: 150px;
  display: inline-block;
}
.set-info label span {
  width: 80px;
  display: inline-block;
}
.set-info .set-info-save {
  color: #fff;
}
.loading {
  width: 150px;
  height: 150px;
  padding-top: 60px;
  display: inline-block;
}
.loading img {
  width: 30px;
  margin: 0 auto;
  display: block;
}
.crop-area .loading {
  width: 30px !important;
  height: auto;
  padding: 0;
}
.wrap {
  width: 990px;
  margin: 0 auto;
  text-align: left;
}
.wrap.contacts .input {
  width: 300px;
  display: block;
  margin-bottom: 10px;
}
.wrap.contacts textarea {
  width: 500px;
  height: 100px;
  display: block;
  margin-bottom: 10px;
}
.wrap.contacts .contacts-user {
  margin-bottom: 10px;
}
.wrap.contacts .contacts-user .user-name {
  margin-left: 50px;
}
.wrap.contacts .send {
  margin-right: 15px;
}
.blog {
  text-align: left;
}
.blog .post {
  padding: 15px 0 5px 0;
  border-top: 1px solid #ccc;
}
.blog .post:first-child {
  border-top: 0;
}
.blog .post p,
.blog .post li {
  font-size: 14px;
}
.blog .post .post-team {
  text-align: center;
}
.blog .post .post-team li {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  width: 200px;
}
.blog .post .post-team li img {
  max-width: 200px;
  max-height: 200px;
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
}
.blog .dialogs,
.blog .input-group {
  display: none;
}
.blog .dialogs {
  padding: 0;
}
.blog .anonName {
  width: 100%;
  margin-bottom: 10px;
}
.blog .message-textarea {
  width: 100%;
  margin-bottom: 10px;
}
.blog .input-group {
  padding-top: 10px;
}
.blog .no-link {
  cursor: default;
  color: #000;
}
.blog .no-link:hover {
  color: #000;
  text-decoration: none;
}
.blog .post-date {
  margin-left: 210px;
}
.blog .post-avatar {
  width: 200px;
}
.blog .topic,
.blog .topic-stuff {
  margin-left: 10px;
  padding-bottom: 10px;
}
.blog .lenta-item-bottom span,
.blog .lenta-item-bottom a {
  display: inline-block;
}
.blog .lenta-item-bottom a {
  margin-left: 5px;
}
.blog .itemdiv.dialogdiv > .body {
  padding-bottom: 0;
}
.about {
  text-align: left;
  padding-top: 10px;
  padding-left: 10px;
}
.about p,
.about li {
  font-size: 14px;
}
.about .footer li {
  font-size: 13px;
}
.contacts {
  padding-left: 10px;
}
.contacts textarea.content {
  overflow: hidden;
}
.user-notification {
  width: 100%;
  background: #ffc89a;
}
.user-notification span {
  color: #fff;
  padding: 4px 10px;
  display: block;
  margin-right: 20px;
}
.user-notification a {
  color: #fff;
  display: inline-block;
  margin-right: 10px;
  margin-top: 4px;
}
.user-notification a:hover {
  text-decoration: none;
}
.login-layout .user-notification {
  position: absolute;
  top: -60px;
}
.counters {
  padding: 10px 20px;
  min-height: 300px;
}
.counters h3 {
  margin-top: 0;
  padding-top: 10px;
}
.counters .counters-menu {
  padding-left: 0;
  margin: 0;
}
.counters .counters-menu li {
  list-style: none;
  display: inline-block;
}
.counters .counters-table {
  width: 100%;
  margin: 10px 0;
}
.counters .counters-table td {
  padding: 5px 0 5px 10px;
  vertical-align: top;
}
.counters .counters-table td input,
.counters .counters-table td select {
  width: 100%;
}
.counters thead {
  font-weight: bold;
}
.counters .remove-counter {
  color: #f00;
  font-size: 22px;
}
.counters .remove-counter:hover {
  text-decoration: none;
}
.counters .fa-pencil {
  font-size: 18px;
}
.counter-input {
  width: 70px !important;
  display: inline-block;
}
.fa-clock-o {
  font-size: 18px;
  margin-left: 10px;
}
.gray-text {
  color: #ccc;
}
.modal-remove-counter .modal-dialog {
  width: 330px !important;
  text-align: center;
  padding: 10px;
  margin-top: 100px;
}
.modal-remove-counter .btn {
  display: inline-block;
}
.empty {
  text-align: left;
  color: #000;
  font-size: 14px;
}
.empty h2 {
  text-align: center;
  margin-top: 0;
}
