.talks-single .widget-main,
.adverts-single .widget-main {
  overflow: inherit;
}
.topic-item {
  margin-bottom: 10px;
}
.topic-item .topic-descr {
  border-bottom: 1px solid #5090c1;
  border-radius: main-radius;
}
.topic-item .topic-descr .topic-header-left {
  display: none;
}
.topic-item .topic-descr header {
  height: 40px;
  line-height: 37px;
}
.topic-item .topic-descr header:after {
  clear: none;
}
.topic-item .topic-descr header .widget-toolbar {
  float: right;
  vertical-align: middle;
  padding-left: 10px;
  margin-right: 8px;
  padding-right: 0;
  border-left: 1px solid #fff;
  height: 100%;
}
.topic-item .topic-descr header .widget-toolbar a {
  display: inline-block;
  vertical-align: middle;
  margin: 0 4px;
  color: #fff;
  font-size: 1.5em;
}
.topic-item .topic-descr header .widget-toolbar a:hover {
  text-decoration: none;
}
.topic-item .topic-descr header h2 {
  margin: 0 100px 0 90px;
  vertical-align: middle;
  height: 39px;
  line-height: 39px;
  overflow: hidden;
  font-size: 18px;
  font-weight: bold;
}
.topic-item .topic-descr header h2.small {
  font-size: 16px;
}
.topic-item .topic-descr header h2 span {
  vertical-align: middle;
  line-height: 18px;
  display: inline-block;
  float: none;
}
.topic-item .topic-descr header span {
  float: left;
  vertical-align: middle;
}
.topic-item .topic-descr .topic-right h2 {
  margin-top: 0;
  font-size: 20px;
  padding-right: 190px;
}
.topic-item .topic-descr .topic-right .fa-relations {
  float: right;
  font-size: 16px;
  opacity: 0;
}
.topic-item .topic-descr .topic-right .fa-sitemap {
  float: right;
  margin-right: 10px;
  opacity: 0;
}
.topic-item .topic-descr .topic-right .likes {
  text-align: right;
}
.topic-item .topic-descr .topic-right .likes a {
  display: inline-block;
}
.topic-item .topic-descr .topic-right .likes a:hover {
  text-decoration: none;
}
.topic-item .topic-descr .topic-right .likes .like-item {
  display: inline-block;
  margin: 0 5px;
  font-size: 18px;
}
.topic-item .topic-descr .topic-right .likes .like-item span {
  display: inline-block;
  font-size: 14px;
  color: #000;
}
.topic-item .topic-descr .topic-left {
  float: left;
  text-align: center;
  width: 80px;
}
.topic-item .topic-descr .topic-left .plus-minus {
  font-size: 30px;
  margin-top: 5px;
  position: relative;
  z-index: 2;
}
.topic-item .topic-descr .topic-left img {
  width: 95px;
}
.topic-item .topic-descr .topic-left .topic-author {
  font-size: 14px;
  text-align: left;
}
.topic-item .topic-descr .topic-left .author-rating a {
  display: inline-block;
}
.topic-item .topic-descr .topic-left .author-rating a:hover {
  text-decoration: none;
}
.topic-item .topic-descr footer {
  clear: left;
  line-height: 30px;
  border-radius: 0 0 main-radius main-radius;
  padding: 0;
  height: 38px;
}
.topic-item .topic-descr footer .answers-ctrl {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 115px;
  height: 37px;
  border-right: 1px solid #ccc;
}
.topic-item .topic-descr footer .answers-ctrl a {
  display: inline-block;
  vertical-align: top;
  font-size: 30px;
  line-height: 40px;
}
.topic-item .topic-descr footer .answers-ctrl a:hover {
  text-decoration: none;
}
.topic-item .topic-descr footer .answers-ctrl span {
  display: inline-block;
  vertical-align: middle;
  line-height: 35px;
  margin-left: 10px;
}
.topic-item .topic-descr footer .answers-ctrl span span {
  margin-left: 0;
}
.topic-item .topic-descr footer .answers-ctrl span a {
  font-size: 12px;
  display: inline-block;
  color: #000;
  font-weight: bold;
  line-height: 35px;
  vertical-align: middle;
}
.topic-item .topic-descr footer .answers-ctrl span a:hover {
  text-decoration: underline;
}
.topic-item .topic-descr footer .ans-btn {
  float: right;
  margin: 3px 8px 0 0;
}
.topic-item .topic-descr footer .topic-statistic {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
.topic-item .topic-descr.one-message .answer-date {
  color: #808080;
  float: left;
  margin-top: 5px;
}
.topic-item .topic-descr.one-message .message-author {
  margin-bottom: 10px;
  font-size: 14px;
}
.dd .topic-right {
  margin-left: 95px;
}
.dd-list .dd-list {
  padding-left: 37px;
}
.dd-list .dd-list .topic-left {
  width: 48px;
}
.dd-list .dd-list .topic-right {
  margin-left: 60px;
}
.one-message .like-item .fa {
  margin-right: 5px;
}
.alert {
  padding: 0;
  margin-bottom: 5px;
}
.one-message {
  border-radius: second-radius !important;
}
.wysiwig-box {
  display: none;
}
.one-message+.wysiwig-box {
  border: 1px solid #5090c1;
}
.widget-header.fixed {
  position: fixed;
  top: 0;
  z-index: 10;
  margin-left: -1px;
}
.widget-header.fixed .topic-header-left {
  display: inline-block;
  line-height: 40px;
  width: 101px;
}
.widget-header.fixed .topic-header-left i {
  cursor: pointer;
  font-size: 1.5em;
  margin-left: 20px;
  vertical-align: middle;
}
.widget-header.fixed .topic-header-left i.fa-minus,
.widget-header.fixed .topic-header-left i.fa-plus {
  font-size: 30px;
}
.widget-header.fixed .topic-header-date {
  display: none;
}
.dd>.dd-list>.topic-item.list-view .dd-list {
  padding-left: 0;
}
.dd>.dd-list>.topic-item >.topic-descr {
  background: #ddedf6;
  padding: 5px;
  padding-bottom: 0;
}
.dd>.dd-list>.topic-item.list-view>.dd-list {
  padding-left: 30px;
}
.dd-item {
  min-height: 0;
  margin: 10px 0;
}
.wysiwyg-editor a {
  cursor: pointer;
}
.empty-messages {
  font-size: 20px;
  text-align: center;
  color: #ccc;
}
/* создание темы */
.create-topic {
  padding: 0 10px;
  background: #ddedf6;
}
.create-topic .topic-body textarea {
  width: 100%;
  overflow: hidden;
}
.create-topic >.btn-group {
  float: right;
  margin-left: 5px;
}
.create-topic .wysiwig-box {
  display: block;
}
.create-topic .wysiwig-box .pull-left .btn {
  margin-right: 5px;
}
.create-topic .wysiwyg-editor {
  border-left: 1px solid #ccc;
}
.create-topic .message-input-bottom {
  margin-top: 10px;
}
/* новые стили после редизайна 11.06.14 */
.itemdiv > .user {
  width: auto;
}
.itemdiv > .user > img {
  border-radius: 0;
}
.itemdiv.dialogdiv > .body {
  padding-bottom: 30px;
}
.itemdiv {
  padding-right: 0;
}
.btn.active:after {
  border-bottom: 0;
}
.no-resize {
  resize: none;
}
.message-input {
  padding: 10px;
  margin-bottom: 15px;
  background: #ddedf6;
}
.message-input textarea {
  width: 100%;
  overflow: hidden;
}
.message-input .message-input-bottom {
  margin-top: 15px;
}
.message-input .talk-subject {
  margin-bottom: 10px;
}
.message-tools {
  margin-left: 10%;
}
.message-tools a {
  color: #ccc;
  font-size: 16px;
}
.message-tools .message-delete-link {
  font-size: 20px;
  margin-top: -4px;
  line-height: 20px;
}
.message-tools .message-delete-link:hover {
  color: #f00;
  text-decoration: none;
}
.message-tools .fa-pencil {
  margin-right: 8px;
}
.message-tools .fa-pencil:hover {
  color: #438eb9;
}
.group-addresses-list {
  position: absolute;
  z-index: 2;
  background: #fff;
  top: 25px;
  right: 0;
  box-shadow: 2px 2px 5px #ccc;
}
.group-addresses-list li {
  list-style: none;
  color: #000;
  text-align: left;
  display: block;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}
.group-addresses-list-type2 {
  right: 50px;
}
.folding {
  max-height: 55px;
  overflow: hidden;
}
.hashtag {
  margin-left: 10px;
  margin-right: 10px;
}
.label-lg {
  height: 18px;
  padding: 0.2em 0.6em 0.2em;
  line-height: 1;
}
.label-lg.arrowed:before {
  border-width: 9px 6px;
}
.attach-area .attach-item {
  display: inline-block;
  vertical-align: top;
  margin-right: 1px;
  margin-top: 5px;
}
.attach-area .attached-img {
  width: 150px;
  height: 150px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}
.attach-area .remove-attach-img {
  font-size: 20px;
  color: #f00;
  float: right;
  margin-left: -13px;
  line-height: 10px;
  position: relative;
}
.attach-area .remove-attach-img:hover {
  text-decoration: none;
}
.attach-area.attach-area-doc .remove-attach-img {
  margin-left: 0;
}
.attach-dropdown li a:hover {
  background: #4f99c6;
  color: #fff;
}
.attach-dropdown .ace-file-input {
  margin-bottom: 0;
  line-height: 1.5;
}
.attach-dropdown .ace-file-input .file-label {
  border: 0;
  text-align: left;
  margin-bottom: 0;
  background-color: transparent;
  transition: none;
}
.attach-dropdown .ace-file-input .file-label:before {
  font-size: 13px;
  font-weight: normal;
  color: #000;
  margin: 0;
  line-height: 14px;
  background-color: transparent;
  transition: none;
  padding: 0;
  padding-left: 11px;
}
.attach-dropdown .ace-file-input:hover {
  color: #fff;
  background: #4f99c6;
}
.attach-dropdown .ace-file-input:hover .file-label:before {
  color: #fff;
}
.attached a {
  display: inline-block;
  vertical-align: top;
  margin: 0 2px;
}
.attached a img {
  margin-bottom: 10px;
  max-width: 150px;
  max-height: 150px;
}
.dialogdiv .attached {
  padding-bottom: 0;
}
.create-poll {
  margin-bottom: 10px;
}
.create-poll h5 {
  font-family: tahoma, arial;
}
.create-poll input {
  width: 100%;
  margin-bottom: 5px;
}
.create-poll .poll-readonly {
  cursor: text;
}
.create-poll .poll-cancel {
  font-size: 24px;
  margin-top: -10px;
}
.create-poll .poll-cancel:hover {
  text-decoration: none;
}
.poll-results .poll-result-item {
  margin-bottom: 10px;
}
.poll-results .poll-result-item .poll-result-variant {
  font-size: 14px;
}
.poll-results .poll-result-item .poll-row .poll-row-line {
  display: inline-block;
  color: #8ba1bc;
  width: 84%;
  text-align: center;
  line-height: 15px;
  background-color: #f7f7f7;
}
.poll-results .poll-result-item .poll-row .poll-row-line .poll-line-percent {
  background-color: #dae1e8;
  height: 15px;
}
.poll-results .poll-result-item .poll-row .poll-row-line .poll-line-number {
  height: 15px;
  margin-top: -15px;
}
.poll-results .poll-result-item .poll-row .poll-row-percent {
  display: inline-block;
  width: 15%;
}
.answer-block {
  width: 100%;
}
.answer-block .input-group-btn {
  display: block;
  width: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.message-textarea {
  width: 100%;
  overflow: hidden;
  display: block;
}
.message-textarea,
.topic-textarea {
  line-height: inherit;
}
.edit-message .btn {
  border-width: 2px;
}
.edit-message .message-input {
  padding: 10px 0;
  background: inherit;
}
.talks-single .message-input,
.adverts-single .message-input {
  padding-left: 0;
  padding-top: 25px;
}
.edit-textarea {
  margin: 5px 0;
}
.forum-wrap {
  font-size: 12px;
}
.important-status:hover .fa-star,
.important-status.important .fa-star {
  color: #ffea4a;
}
.like-status {
  margin-right: 10px;
}
.like-status:hover .fa-heart,
.like-status.isLike .fa-heart {
  color: #f00;
}
.talks-title .like-status {
  margin-right: 5px;
}
.talks-title .fa-star {
  margin-right: 6px;
}
.important-status:hover,
.like-status:hover {
  text-decoration: none;
}
.like-help {
  position: absolute;
  right: 50px;
  top: 30px;
  padding: 5px;
  background: #efefef;
  border-radius: 2px;
  display: none;
}
.itemdiv.dialogdiv > .body {
  margin-left: 58px;
  font-size: 12px;
}
.user-ribbon.short2 {
  width: 48px;
  clear: left;
}
.user-ribbon {
  height: 5px;
  margin-top: 5px;
  width: 100%;
}
.create-topic-btn {
  overflow: auto;
}
.create-topic-btn a {
  float: right;
  margin: 15px 10px 15px 0;
}
.talks-title {
  padding: 10px;
  overflow: visible;
  position: relative;
  border-top: 1px solid #5090c1;
}
.talks-title:last-child {
  border-bottom: 1px solid #5090c1;
}
.talks-title .talks-title-left {
  padding-right: 130px;
}
.talks-title .talks-title-left >a {
  font-weight: bold;
  font-size: 16px;
}
.talks-title .talks-title-left .talks-title-links {
  margin-left: 55px;
}
.talks-title .talks-title-left .talks-title-links a {
  display: block;
}
.talks-title .talks-title-left .talks-title-links a:first-child {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 7px;
}
.talks-title .talks-title-left:after {
  content: "";
  display: block;
  clear: left;
}
.talks-title .talks-title-right {
  float: right;
}
.talks-title .talks-title-right .adverts-comments {
  padding-top: 5px;
}
.talks-title .talks-title-right .adverts-comments span {
  display: inline-block;
  margin-right: 20px;
}
.talks-title .last-update {
  margin-top: -22px;
}
.talks-block {
  padding: 0 10px;
}
.talks-block .talks-single {
  padding-top: 10px;
}
.talks-block .talks-single .dd-item {
  margin-top: 0;
}
.talks-block .talks-single .dd-item .dd2-content {
  margin-top: 0;
  margin-bottom: 10px;
}
.talks-block .answer-input textarea {
  width: 100%;
  overflow: hidden;
}
.talks-block .answer-input .answer-input-bottom {
  margin-top: 10px;
  padding-bottom: 10px;
}
.talks-block .widget-main {
  position: relative;
}
.talks-block .message-bottom {
  position: absolute;
  bottom: 3px;
  width: 100%;
  margin-left: -95px;
  padding-left: 95px;
  padding-right: 15px;
  font-size: 13px;
}
.talks-block .poll {
  padding-bottom: 30px;
}
.talks-block .poll .radio .lbl:before {
  margin-right: 10px;
}
.talks-block .poll h5 {
  font-family: tahoma, arial;
}
/* new style createTopic */
.create-wall-wrap {
  padding: 10px;
  margin: 0 10px 15px 10px;
  background-color: #f3f5f3;
}
.create-wall-wrap textarea {
  width: 100%;
  color: #000;
  border: 1px solid #b5b5b5;
}
.create-wall-wrap .write-mess-selectGroup {
  display: block;
  color: #000;
  padding: 5px;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #b5b5b5;
  border-bottom: 0;
}
.create-wall-wrap .write-mess-selectGroup:hover {
  text-decoration: none;
}
.create-wall-wrap .write-mess-selectGroup .fa {
  margin-top: 4px;
}
.create-wall-wrap .write-mess-selectGroup.write-mess-selectRubric {
  border-top: 0 !important;
  border-bottom: 1px solid #b5b5b5;
}
.create-wall-wrap .select-group-list {
  background-color: #fff;
  margin: 0;
  padding: 5px 0 5px 15px;
  border: 1px solid #b5b5b5;
  border-bottom: 0;
}
.create-wall-wrap .select-group-list li {
  list-style: none;
  display: block;
  margin-bottom: 5px;
}
.create-wall-wrap .select-group-list li label {
  cursor: pointer;
  display: block;
}
.create-wall-wrap .select-group-list li:last-child {
  margin-bottom: 0;
}
.create-wall-wrap .select-rubric-list {
  border-top: 0;
  border-bottom: 1px solid #b5b5b5;
}
.create-wall-wrap .select-rubric-list li {
  float: left;
  width: 50%;
}
.create-wall-wrap .message-input-bottom .btn-primary {
  margin: 10px 0 0 10px;
}
.create-wall-wrap .message-input-bottom .attach-dropdown {
  margin-top: 10px;
}
.create-wall-wrap .close-messageBar {
  display: inline-block;
  text-transform: uppercase;
  margin-top: 18px;
}
.create-wall-wrap .close-messageBar:hover {
  text-decoration: none;
}
.create-wall-wrap .error-info {
  top: 14px;
}
.message-input-bottom .dropdown-menu,
.input-group-btn .dropdown-menu {
  display: block;
}
/* write-message */
.write-message .select2-container {
  margin-bottom: 10px;
}
.write-message .write-message-bottom {
  padding-top: 10px;
}
.ui-autocomplete {
  list-style: none;
}
.ui-autocomplete a:hover {
  text-decoration: none;
}
.ui-helper-hidden-accessible {
  display: none;
}
