
.talks-single .widget-main
.adverts-single .widget-main
  overflow inherit

.topic-item
  //margin-left 10px
  margin-bottom 10px
  .topic-descr
    border-bottom 1px solid rgb(80, 144, 193)
    border-radius main-radius
    .topic-header-left
      display none
    header
      height 40px
      line-height 37px
      &:after
        clear none
      /*.widget-toolbar
        float right
        vertical-align middle
        padding-left 10px
        margin-right 8px
        padding-right 0
        border-left 1px solid #fff
        height 100%
        a
          display inline-block
          vertical-align middle
          margin 0 4px
          color #fff
          font-size 1.5em
          &:hover
            text-decoration none*/
      h2
        margin 0 100px 0 90px
        vertical-align middle
        height 39px
        line-height 39px;
        overflow hidden
        font-size 18px
        font-weight bold
        &.small
          font-size 16px;
        span
          vertical-align middle
          line-height 18px
          display inline-block
          float none
      span
        float left
        vertical-align middle
    .topic-right
      h2
        margin-top 0
        font-size 20px
        padding-right 190px
      .fa-relations
        float right
        font-size 16px
        opacity 0
      .fa-sitemap
        float right
        margin-right 10px
        opacity 0
      .likes
        text-align right
        a
          display inline-block
          &:hover
            text-decoration none
        .like-item
          display inline-block
          margin 0 5px
          font-size 18px
          span
            display inline-block
            font-size 14px
            color #000
    .topic-left
      float left
      text-align center
      width 80px
      .plus-minus
        font-size 30px
        margin-top 5px
        position relative
        z-index 2
      img
        width 95px
      .topic-author
        font-size 14px
        text-align left
      .author-rating
        a
          display inline-block
          &:hover
            text-decoration none
    /*footer
      clear left
      line-height 30px
      border-radius 0 0 main-radius main-radius
      padding 0
      height 38px
      .answers-ctrl
        display inline-block
        vertical-align middle
        text-align center
        width 115px
        height 37px
        border-right 1px solid rgb(204, 204, 204)
        a
          display inline-block
          vertical-align top
          font-size 30px
          line-height 40px
          &:hover
            text-decoration none
        span
          display inline-block
          vertical-align middle
          line-height 35px
          margin-left 10px
          span
            margin-left 0
          a
            font-size 12px
            display inline-block
            color #000
            font-weight bold
            line-height 35px
            vertical-align middle
            &:hover
              text-decoration underline
      .ans-btn
        float right
        margin 3px 8px 0 0
      .topic-statistic
        display inline-block
        vertical-align middle
        margin-left 10px*/
    /*&.one-message
      .answer-date
        color #808080
        float left
        margin-top 5px
      .message-author
        margin-bottom 10px
        font-size 14px*/

.dd .topic-right
  margin-left 95px

.dd-list .dd-list
  padding-left 37px
  .topic-left
    width 48px

.dd-list .dd-list .topic-right //.topic-item
  margin-left 60px

/*.one-message
  .like-item
    .fa
      margin-right 5px*/

/*.one-message
  border-radius second-radius !important*/

/*.wysiwig-box
  display none

.one-message+.wysiwig-box
  border 1px solid #5090c1*/

/*.widget-header.fixed
  position fixed
  top 0
  z-index 10
  margin-left -1px
  .topic-header-left
    display inline-block
    line-height 40px
    width 101px
    i
      cursor pointer
      font-size 1.5em
      margin-left 20px
      vertical-align middle
      &.fa-minus,
      &.fa-plus
        font-size 30px
  .topic-header-date
    display none*/

.dd>.dd-list>.topic-item
  &.list-view
    .dd-list
      padding-left 0
  >.topic-descr
    background #ddedf6
    padding 5px
    padding-bottom 0

.dd>.dd-list>.topic-item.list-view>.dd-list
  padding-left 30px

.dd-item
  min-height 0
  margin 10px 0

/*.wysiwyg-editor
  a
    cursor pointer*/

/*.empty-messages
  font-size 20px
  text-align center
  color #ccc*/

/* создание темы */
.create-topic
  padding 0 10px
  background #ddedf6
  .topic-body
    textarea
      width 100%
      //height 90px
      overflow hidden
  >.btn-group
    float right
    margin-left 5px
  /*.wysiwig-box
    display block
    .pull-left .btn
      margin-right 5px
  .wysiwyg-editor
    border-left 1px solid #ccc*/
  .message-input-bottom
    margin-top 10px

/* новые стили после редизайна 11.06.14 */
.itemdiv > .user
  width auto
.itemdiv > .user > img
  border-radius 0
.itemdiv.dialogdiv > .body
  padding-bottom 30px
.itemdiv
  padding-right 0
.btn.active:after
  border-bottom 0
.no-resize
  resize none

.message-input
  padding 10px
  margin-bottom 15px
  background #ddedf6
  textarea
    width 100%
    //height 90px
    overflow hidden
  .message-input-bottom
    margin-top 15px
  .talk-subject
    margin-bottom 10px

.message-tools
  margin-left 10%
  a
    color #CCCCCC
    font-size 16px
  .message-delete-link
    font-size 20px
    margin-top -4px
    line-height 20px
    &:hover
      color #ff0000
      text-decoration none
  .fa-pencil
    margin-right 8px
    &:hover
      color #438eb9

.group-addresses-list
  position absolute
  z-index 2
  background #fff
  top 25px
  right 0
  box-shadow 2px 2px 5px #ccc
  li
    list-style none
    color #000
    text-align left
    display block
    padding 5px
    border-bottom 1px solid #ccc

.group-addresses-list-type2
  right 50px

.folding
  max-height 55px // 3 строки
  overflow hidden
.foldingImg
  //max-height 120px
  //overflow hidden

.hashtag
  margin-left 10px
  margin-right 10px

.label-lg
  height 18px
  padding 0.2em 0.6em 0.2em
  line-height 1
//position relative

.label-lg.arrowed:before
  border-width 9px 6px

.attach-area
  .attach-item
    display inline-block
    vertical-align top
    margin-right 1px
    margin-top 5px
  .attached-img
    width 150px
    height 150px
    background-position center center
    background-size contain
    background-repeat no-repeat
    display block
  .remove-attach-img
    font-size 20px
    color #ff0000
    float right
    margin-left -13px
    line-height 10px
    position relative
    &:hover
      text-decoration none
  &.attach-area-doc
    .remove-attach-img
      margin-left 0

.attach-dropdown
  li a:hover
    background #4f99c6
    color #fff
  .ace-file-input
    margin-bottom 0
    line-height 1.5
    .file-label
      border 0
      text-align left
      margin-bottom 0
      background-color transparent
      transition none
      &:before
        font-size 13px
        font-weight normal
        color #000
        margin 0
        line-height 14px
        background-color transparent
        transition none
        padding 0
        padding-left 11px
    &:hover
      color #fff
      background #4f99c6
      .file-label:before
        color #fff

.attached
  //padding-bottom 20px
  a
    display inline-block
    vertical-align top
    margin 0 2px
    img
      margin-bottom 10px
      max-width 150px
      max-height 150px

.dialogdiv .attached
  padding-bottom 0

.create-poll
  margin-bottom 10px
  h5
    font-family tahoma, arial
  input
    width 100%
    margin-bottom 5px
  .poll-readonly
    cursor text
  .poll-cancel
    font-size 24px
    margin-top -10px
    &:hover
      text-decoration none

.poll-results
  .poll-result-item
    margin-bottom 10px
    .poll-result-variant
      font-size 14px
    .poll-row
      .poll-row-line
        display inline-block
        color #8BA1BC
        width 84%
        text-align center
        line-height 15px
        background-color #F7F7F7
        .poll-line-percent
          background-color #DAE1E8
          height 15px
        .poll-line-number
          height 15px
          margin-top -15px
      .poll-row-percent
        display inline-block
        width 15%

.answer-block
  width 100%
  .input-group-btn
    display block
    width auto
    margin-top 10px
    margin-bottom 10px

.message-textarea
  width 100%
  overflow hidden
  display block

.message-textarea
.topic-textarea
  line-height inherit

.edit-message
  .btn
    border-width 2px
  .message-input
    padding 10px 0
    background inherit

.talks-single .message-input
.adverts-single .message-input
  padding-left 0
  padding-top 25px

.edit-textarea
  margin 5px 0

.forum-wrap
  font-size 12px

.important-status
  &:hover
  &.important
    .fa-star
      color #ffea4a

.like-status
  margin-right 10px
  &:hover
  &.isLike
    .fa-heart
      color #ff0000

.talks-title
  .like-status
    margin-right 5px
  .fa-star
    margin-right 6px

.important-status:hover
.like-status:hover
  text-decoration none

.like-help
  position absolute
  right 50px
  top 30px
  padding 5px
  background #efefef
  border-radius 2px
  display none

.itemdiv.dialogdiv > .body
  margin-left 58px
  font-size 12px

.user-ribbon.short2
  width 48px
  clear left

.user-ribbon
  height 5px
  margin-top 5px
  width 100%

.create-topic-btn
  overflow auto
  a
    float right
    margin 15px 10px 15px 0

.talks-title
  padding 10px
  overflow visible
  position relative
  border-top 1px solid rgb(80, 144, 193)
  &:last-child
    border-bottom 1px solid rgb(80, 144, 193)
  .talks-title-left
    //float left
    padding-right 130px
    >a
      font-weight bold
      font-size 16px
    .talks-title-links
      margin-left 55px
      a
        display block
      a:first-child
        font-weight bold
        font-size 16px
        margin-bottom 7px
    &:after
      content ""
      display block
      clear left
  .talks-title-right
    float right
    .adverts-comments
      padding-top 5px
      span
        display inline-block
        margin-right 20px
  .last-update
    margin-top -22px

.talks-block
  padding 0 10px
  .talks-single
    padding-top 10px
    .dd-item
      margin-top 0
      .dd2-content
        margin-top 0
        margin-bottom 10px
  .answer-input
    textarea
      width 100%
      overflow hidden
    .answer-input-bottom
      margin-top 10px
      padding-bottom 10px
  .widget-main
    position relative
  .message-bottom
    position absolute
    bottom 3px
    width 100%
    margin-left -95px
    padding-left 95px
    padding-right 15px
    font-size 13px
  .poll
    padding-bottom 30px
    .radio .lbl:before
      margin-right 10px
    h5
      font-family tahoma, arial


/* new style createTopic */
.create-wall-wrap
  padding 10px
  margin 0 10px 15px 10px
  background-color #f3f5f3
  textarea
    width 100%
    color #000
    border 1px solid #b5b5b5
  .write-mess-selectGroup
    display block
    color #000
    padding 5px
    font-size 14px
    background-color #fff
    border 1px solid #b5b5b5
    border-bottom 0
    &:hover
      text-decoration none
    .fa
      margin-top 4px
    &.write-mess-selectRubric
      border-top 0 !important
      border-bottom 1px solid #b5b5b5
  .select-group-list
    background-color #fff
    margin 0
    padding 5px 0 5px 15px
    border 1px solid #b5b5b5
    border-bottom 0
    li
      list-style none
      display block
      margin-bottom 5px
      label
        cursor pointer
        display block
      &:last-child
        margin-bottom 0
  .select-rubric-list
    border-top 0
    border-bottom 1px solid #b5b5b5
    li
      float left
      width 50%
  .message-input-bottom
    .btn-primary
      margin 10px 0 0  10px
    .attach-dropdown
      margin-top 10px
  .close-messageBar
    display inline-block
    text-transform uppercase
    margin-top 18px
    &:hover
      text-decoration none
  .error-info
    top 14px
    display inline-block
    margin 14px 0 0 10px

.message-input-bottom .dropdown-menu
.input-group-btn .dropdown-menu
  display block

/* write-message */
.write-message
  .select2-container
    margin-bottom 10px
  .write-message-bottom
    padding-top 10px


@media all and (max-width: 1000px)
  /*.navbar .form-search
    width 10%*/
  .create-topic-btn
    clear right
    float left !important
    margin-left 10px
    margin-top -30px