.lenta-item
  //margin-bottom 20px
  .wallitem-message
  .wallitem-topic
    margin 0 10px
  .wallitem-message
    padding-top 10px
    border-top 1px solid rgb(80, 144, 193)
    &.wall-single
      border 0
    .input-group
      display block
      .input-group-btn
        display block
        margin-top 10px
        margin-bottom 10px
        width 100%
  .first-message
    border 1px solid #D7DBDD
    position relative
    padding 5px
    .user
      float left
      img
        width 100px
    .body
      margin-left 90px
      padding-bottom 25px
      .time
        float right
      .tools
        position absolute
        right 5px
    .poll
      padding-bottom 20px
      .lbl:before
        margin-right 10px
      h5
        font-family tahoma, arial
  .dialogs
    clear left
    margin 0 0 0 30px
    padding-top 11px
    padding-right 0
  .lenta-item-bottom
    position absolute
    bottom 3px
    width 100%
    margin-left -95px
    padding-left 95px
    padding-right 15px
    font-size 12px
  &:last-child .wallitem-message
    border-bottom 1px solid #5090c1
  .wallitem-topic .talks-title
    border-bottom 0
  .show-all-comments
    text-align center
    padding 5px 0
    margin-top -9px
    font-size 13px

.lenta .bottom-border-line
  height 1px
  background rgb(80, 144, 193);
  margin 0 10px

