.user-descr {
  padding: 0 0 0 10px;
  font-size: 14px;
}
.user-descr .ava-area {
  float: left;
  width: 200px;
  padding: 10px 0 0 0;
}
.user-descr .ava-area img {
  width: 100%;
}
.user-descr .ava-area .fa {
  font-size: 24px;
}
.user-descr .ava-area .user-rating {
  text-align: center;
  margin: 10px 0 10px 0;
}
.user-descr .soc-accounts {
  float: right;
  width: 180px;
  padding: 10px 0 0 0;
}
.user-descr .soc-accounts .fa {
  font-size: 34px;
  margin: 10px 5px 0 5px;
}
.user-descr .text-area {
  margin: 0 200px 0 215px;
}
.user-descr .text-area .user-head h1 {
  display: inline-block;
  margin-bottom: 0;
}
.user-descr .text-area .user-head a {
  color: #ccc;
}
.user-descr .text-area .user-head .confirm-alert {
  float: right;
  font-weight: bold;
  margin: 17px 10px 0 0;
}
.user-descr .text-area .user-body {
  margin: 15px 0 0 0;
  line-height: 26px;
}
.user-descr .text-area .user-body h3 {
  font-size: 20px;
}
.user-descr .text-area .user-body span {
  width: 170px;
  display: inline-block;
}
@media all and (max-width: 1024px) {
  .user-descr .ava-area {
    width: 120px;
  }
  .user-descr .ava-area .fa {
    font-size: 20px;
  }
  .user-descr .text-area {
    margin: 0 180px 0 130px;
  }
}
