
.user-descr
  padding 0 0 0 10px
  font-size 14px
  .ava-area
    float left
    width 200px
    padding 10px 0 0 0
    img
      width 100%
    .fa
      font-size 24px
    .user-rating
      text-align center
      margin 10px 0 10px 0
  .soc-accounts
    float right
    width 180px
    padding 10px 0 0 0
    .fa
      font-size 34px
      margin 10px 5px 0 5px
  .text-area
    margin 0 200px 0 215px
    .user-head
      h1
        display inline-block
        margin-bottom 0
      a
        color #CCCCCC
      .confirm-alert
        float right
        font-weight bold
        margin 17px 10px 0 0
    .user-body
      margin 15px 0 0 0
      line-height 26px
      h3
        font-size 20px
      span
        width 170px
        display inline-block

@media all and (max-width: 1024px)
  .user-descr
    .ava-area
      width 120px
      .fa
        font-size 20px
    .text-area
      margin 0 180px 0 130px





