@import 'common.css'

/* страница регистрации */

.login-layout .main-content
  border 0
  margin-right 0
  position relative

.login-container
  .widget-box
    visibility hidden
    display none
    &.visible
      visibility visible
      display block

.login-box
.signup-box
.forgot-box
  padding 6px
  background-color #394557
  .widget-body
    background #f7f7f7
    .widget-main
      padding 16px 36px 16px 36px
  fieldset
    text-align center
  .btn-primary
  .btn-success
  .btn-danger
    float none !important
    font-size 16px
  p
    text-align left

.email-forgot-error
.password-new-error
  margin-bottom 10px

.login-page .container
  min-width 0
.login-forms
  width 650px
  margin 30px auto
.registration-form
  width 320px
  height 260px
  vertical-align top
  display inline-block
  padding 0 10px
  position relative
  border 1px solid #438eb9
  border-radius main-radius
  h1
    margin 0 -10px
    padding 10px
    background #438eb9
    color #fff
    text-align center
  h3
    border-bottom 1px solid #438eb9
    padding-bottom 5px
    margin-bottom 15px
  .reg-soc
    a
      font-size 50px
      margin 0 10px
      &:hover
        text-decoration none
  .reg-now
    &>div
      margin-bottom 10px
    a
      float right
      margin-right 15px
      padding-top 3px
      color #ccc
    label
      width 60px
      span
        color #d2322d
        &:before
          margin-right 5px !important
    .radio
      display inline-block
      vertical-align baseline
      margin 0
      span
        color #000
    .form-control
      display inline-block
  .btn-submit
    width 140px
    background #438eb9
    color #fff
    font-size 20px
    display block
    position absolute
    bottom 10px
    left 50%
    margin-left -70px
    &:hover
      background #1b6aaa
  input[type="text"]
  input[type="email"]
  input[type="tel"]
  input[type="password"]
    width 220px
  #captcha
    width 155px
  input[type="file"]
  .captcha
    display inline-block

  .set-new-password
    display none
    clear right
    margin-top 4px
    .btn
      margin-top 10px
      float right
      margin-right 14px
    #go2
      position static
      width 100px
      float right

#selectGroup
  margin-right 15px
  float right

@media all and (max-width: 650px)
  .modal-auth
    width 100% !important
    left 0 !important
    margin-left 0 !important
    height 320px !important
  .modal-auth .container
    width 90%
  .login-forms
    width 100%
  .registration-form
    width 49%
    height 290px !important
    h1
      font-size 20px
      padding 8px
    input
      width 98% !important
    .set-new-password .btn
      padding 2px 0
      font-size 12px
      margin-right 0
      float none
      display inline-block
      width 48%
    label
      font-size 12px
      width auto !important

@media all and (max-width: 380px)
  .registration-form
    h1
      font-size 14px
    .btn-submit
      width 100px
      margin-left -50px
      font-size 14px

.signup-shop
  .login-container
    width 480px
  textarea
    width 100%
    height 70px
  .file-label
    text-align left
    .file-name
      padding-left 5px
  .fa
    position absolute
    font-size 16px
    top 8px
    right 5px
    &.fa-image
      position static
  .ace-file-input
    height auto
    .file-label
      text-align center
      margin-top -37px

  /* login-forum */
.login-forum
  background-image url(../i/login-bg.jpg)
  background-color #fff
  //background-size 100% 100%
  background-repeat no-repeat
  background-position center center
  background-attachment fixed
  -webkit-background-size cover
  -moz-background-size cover
  -o-background-size cover
  background-size cover
  padding-top 100px
  .login-left
    text-align center
    color #fff
    padding-top 20px
    h1
      font-size 28px
    img
      width 100%
      max-width 400px
  .login-container
    width 100%
    max-width 375px
    box-shadow 0 0 15px rgba(0, 0, 0, 0.5)
    -webkit-box-shadow 0 0 15px rgba(0, 0, 0, 0.5)
    -moz-box-shadow 0 0 15px rgba(0, 0, 0, 0.5)
    .or
      text-align center
      margin 5px 0
      font-size 20px
    .tools
      text-align right
      .checkbox
        display inline-block
        padding-left 0
        margin 0
        line-height 16px
      a
        font-size 13px
        margin-left 10px
        vertical-align middle
        display inline-block
        margin-top -12px
        &:hover
          text-decoration none
    .widget-box
      padding 0
      background transparent
      position static
      .widget-body
        background transparent
      .widget-main
        border-radius 3px
        padding 20px 36px
      .btn-back
        display inline-block
        margin-top 10px
        font-size 14px
        &:hover
          text-decoration none
      .btn-login
        margin-top 15px

.help-text
  font-size 12px
  color #fff
  text-align center
  img
    display inline-block
    width 100%
    max-width 400px
    margin-bottom 15px

    /* registration forum */
@media all and (min-width: 1024px)
  .registration
    width 1024px !important
    margin 0 auto !important
    float none !important

.reg-forum
  height auto
  padding-bottom 80px
  position relative
  header
    padding 20px 0
    border-bottom 1px solid #438eb9
    img
      width 200px
  .row
    margin 0
  h4,h2
    font-family tahoma, arial
    font-weight normal
    margin-bottom 20px
  .reg-left
    width 90%
    padding-top 15px
    max-width 300px
    margin 0 auto
    h4
      margin-bottom 10px
    .radio
      display inline-block
      vertical-align middle
      padding-left 0
      margin 5px 10px
      .lbl:before
        margin-right 5px
        position relative
        top -2px
    .btn-reg
      margin-top 10px
  .reg-right
    width 100%
    max-width 300px
    display block
    margin 0 auto
    img
      width 100%


