
.user-descr
  font-size 14px
  .ava-area
    float left
    width 200px
    padding 10px 0 0 0
    img
      width 100%
    .fa
      font-size 24px
    .user-rating
      text-align center
      margin 10px 0 10px 0
  .soc-accounts
    float right
    width 180px
    padding 10px 0 0 0
    .fa
      font-size 34px
      margin 10px 5px 0 5px
  .text-area
    //margin 0 0 0 10px
    .user-head
      h1
        display inline-block
        margin-bottom 0
      a
        color #CCCCCC
      .confirm-alert
        float right
        font-weight bold
        margin 17px 10px 0 0
    .account-no-confirm
      margin-top 20px
      input[type="text"]
        width 200px
        display inline-block
    .user-body
      margin 15px 0 0 0
      line-height 26px
      .user-body-left .btn
        padding 4px 8px
      .profile-item
        border-bottom 1px solid #cecece
        padding-bottom 10px
        margin-bottom 10px
        &.last
          border-bottom 0
      h3
        font-size 20px
        margin-top 0
      h4
        font-size 16px
      span
        display inline-block
      .user-addresses
        padding-bottom 30px
        span
          display inline-block
          margin-right 15px
          width auto
          padding 3px 0
        a
          font-size 12px
        .add-user-address
          margin 10px 0
        .edit-user-addr
          vertical-align middle
          display inline-block
        .remove-user-addr
          color #ff0000
          vertical-align middle
          margin-left 5px
          text-decoration none
          display inline-block
          font-size 18px
      .form-edit
        display none
        .ui-helper-hidden-accessible
          display none
        input
          margin-bottom 10px

/*.short.form-control
  width 75px !important*/

.datepicker-simple
  width 470px !important
  th.next
    text-align right !important
  th.dow
    text-align center !important
  .year
  .month
    margin 0 5px

.save-status
  color #62c462
  display none
  margin-left 10px
  font-size 16px
  vertical-align middle

.save-status.active
  display inline-block

.loading
  width 40px

@media all and (max-width: 1024px)
  .user-descr
    .ava-area
      width 120px
      .fa
        font-size 20px





