
.settings
.edit-personal
  padding 0 10px
  h3
    margin-top 0
    padding-top 10px
  label
    display inline-block
    width 160px
    &.long
      width 270px
  .form-control
    display inline-block
    vertical-align top
    width 233px
    margin 0 0 10px 0
  .subs-group
    display inline-block
    border-left 1px solid #2b7dbc
    padding-left 15px
  .checkbox label
    width auto
  input[type="text"]
  input[type="password"]
  input[type="email"]
  input[type="tel"]
    margin-bottom 10px
    width 233px
  textarea
    width 70%
    margin-bottom 10px
    overflow hidden
  input
  textarea
  select
    &.short
      width 150px
      height 29px
  select
    padding-left 0
  .settings-add-link
    padding-left 162px
    padding-bottom 20px
  .remove-child
    font-size 16px
    color #ff0000
    &:hover
      text-decoration none

.no-width
  width auto !important

.create-topic-wrap
.edit-personal-wrap
.settings-wrap
.user-descr-wrap
  display none

#subscription>label
  text-align right
  width auto
  padding-right 10px
  vertical-align top

.single-child
.single-pet
.settings-child-item
.settings-pet-item
  margin-left 160px

#ui-datepicker-div
  width 233px

input.ng-invalid.ng-dirty
  border 1px solid #ff0000





