
<section class="empty page">

    <h2>В этом разделе вы сможете найти предложения от ваших соседей или разместить свое.</h2>

    <p>Преимущства добрососедских сделок очевидны: ходить далеко не надо, вероятность быть обманутым меньше, да и "скидку соседям" никто не отменял!</p>

    <p>Часто в этой рубрике размещают объявления:</p>
    <ul>
        <li>"Делаю маникюр, наращивание ногтей"</li>
        <li>"Помогу по хозяйству\посижу с ребенком"</li>
        <li>"Отдам старую стиральную машинку"</li>
        <li>"Качественный ремонт"</li>
    </ul>
    <br/>

    <div class="align-center">
        <a class="btn btn-primary btn-sm no-border" ng-click="showCreateTopic($event)">Создать первое объявление</a>
    </div>

</section>

