
<section class="empty page">
    <h2>Важные сообщения - это способ срочного оповещения</h2>
    <h2>Важных сообщений пока нет</h2>

    <p>Важные сообщения - это сообщения, которые были помечены Вашими соседями как Важные.
        Для того чтобы пометить сообщение Важным, достаточно нажать на иконку в правом нижнем углу</p>
    <p>Как только достаточное количество Ваших соседей пометят это сообщние Важным, остальные соседи будут немедленно оповещены по email. Для того чтобы отправилось
    </p>
    <p><img src="../../i/empty-important.jpg" alt="изображение"/></p>

    <p> Однако будьте избирательны, и не помечайте Важными все сообщения подряд: система автоматически рассчитывает уровень довария пользователю, и может временно заблокировать возможность делать пометки важности.</p>


</section>

