
<section class="empty page">

    <h2>Уважаемый пользователь!</h2>
    <p>Теперь Вы можете сдавать показания счетчиков в управляющую команию через сайт ВместеОнлайн. Просим обратить внимание на следующие правила:</p>

    <ol>
        <li>Указывайте только актуальные значения показаний счетчиков. Указаные Вами данные ежемесячно распечатываются и передаются управляющему домом. ВместеОнлайн со своей стороны обязуется вовремя передавать ваши данные УК, при этом ответственность за корректность данных  лежит на вас.</li>
        <li>Ввод показаний счетчиков для рассчета квитанции необходимо производить в период с 14-го по  24-е число текущего месяца. Если Вы не внесете показания до 22-го числа, Вам будет отправлено электронное письмо с напоминанием.</li>
        <li>Если вы вносите показания счетчиков через сайт не нужно сдавать бумажки с показаниями в почтовый ящик в подъезде, т.к. в этом случае Управляющая копания получит продублированные показания.</li>
    </ol>

    <div class="align-center">
        <button class="btn btn-sm no-border btn-primary" ng-click="counters.countersConfirm()" >Я согласен</button>
    </div>

</section>

