
<section class="empty page">

    <h2>Как задать вопрос соседу? Что нового в вашем доме? Вся информация будет здесь.</h2>

    <p>В этом разделе публикуются сообщения, вопросы и комментарии ваших соседей. Разделенные по группам их видимости.</p>
    
    <p class="align-center"><img src="/static/i/empty-main2.jpg" alt="картинка"/></p>

    <p>При создании сообщения, вы можете определить круг соседей, которые его увидят, это может быть, как ваш дом или ближайшие дома, так и ваша парадная или только ваш этаж. Так вы сможете обсудить вопросы в «узком кругу», без посторонних.</p>

    <p>Если у вас есть вопрос, который вы хотите задать соседям по дому – ничто не мешает написать его здесь. Если нет – можно просто сказать «привет соседи!»</p>

    <div>{{lenta.isCreateNewsShow[currentGroup.id]}}</div>

    <div class="align-center">
        <a class="btn btn-primary btn-sm no-border" ng-click="lenta.isCreateNewsShow[currentGroup.id] = true">Создать сообщение</a>
    </div>

</section>

