
<section class="empty page">
    <h2>Важные сообщения - это способ срочного оповещения о важных событиях</h2>
    <h2>Важных сообщений пока нет</h2>

    <p>Вся важная информация для вас и ваших соседей будет собрана здесь.</p>
    <p>Сообщения, на которые вы обратили внимание и считаете, что для вашим соседям стоит его прочитать отмечайте как «Важное»</p>
    <p><img src="/static/i/empty-important.jpg" alt="изображение"/></p>

    <p>Если несколько соседей отметили сообщение «Важно» - все соседи в группе, в которой оно размещено будут оповещены по электронной почте и увидят это сообщение в специально выделенном месте – в этом разделе.</p>

    <p>Если ваше сообщение отмечено «важным» другими участниками группы - соседями, ваш «авторитет» будет расти.</p>

</section>

