<section class="profile page ng-cloak"> <!--  ng-show="base.profileIsActive" -->
    <div class="profile">
        <section class="user-descr">
            <div class="text-area">
                <div class="user-head" >
                    <h1>{{ profile.userProfile.userInfo.firstName +" "+profile.userProfile.userInfo.lastName}}</h1>
                    <a class="edit-personal-link" ui-sref="settings" ng-show="profile.isMayEdit">Редактировать</a>
                </div>
                <div class="user-body">
                    <div class="user-body-left pull-left">
                        <label class="block clearfix logo-container">
                            <div class="avatar big" style="background-image: url({{base.avatarBuffer}})"></div> <!-- base.user.avatar -->
                            <a ui-sref="profile.change-avatar" class="change-avatar-link" ng-show="profile.isMayEdit">Изменить аватар</a>


                        </label>

                        <!--<div class="rating">
                            <div class="rating-item popularity"><a href="#" title="Популярность" class="fa fa-heart"></a><span>{{profile.userProfile.populatity}}</span></div>
                            <div class="rating-item importancy"><a href="#" title="Важность" class="fa fa-star"></a><span>{{profile.userProfile.importancy}}</span></div>
                        </div>-->
                        <a class="btn btn-sm btn-primary no-border" href="#" ng-click="base.goToDialog(profile.userProfile.userInfo.userId)"
                           ng-if="profile.userProfile.userInfo.userId != base.me.id">Написать сообщение</a>

                    </div>
                    
                    <div class="user-body-right">
                        <div ng-if="profile.isEmptyProfile" class="empty-messages">Информация скрыта</div>

                        <div class="profile-item" ng-show="profile.userProfile.userInfo.birthday != 0">
                            <div ng-show="profile.userProfile.userInfo.birthday != null && profile.userProfile.userInfo.birthday != 0">
                                <span>День рождения: </span> {{profile.userProfile.userInfo.birthday*1000 | date: 'dd.MM.yyyy'}}
                            </div>
                            <!--<div ng-show="profile.userProfile.userInfo.gender != null"><span>Пол: </span> {{profile.userProfile.userInfo.genderMeta}}</div>-->
                        </div>

                        <div class="profile-item" ng-show="profile.userProfile.contacts.mobilePhone != null || profile.userProfile.contacts.email != null">
                            <h3>Контактная информация</h3>
                            <div ng-show="profile.userProfile.contacts.mobilePhone != null"><span>Телефон:</span> {{ profile.userProfile.contacts.mobilePhone }}</div>
                            <div ng-show="profile.userProfile.contacts.email != null"><span>Email:</span> {{ profile.userProfile.contacts.email }}</div>
                        </div>

                        <div class="profile-item" ng-show="profile.userProfile.family.relations != null ||
                         (profile.userProfile.family.childs != null && profile.userProfile.family.childs.length && profile.userProfile.family.childs[0].name != '') ||
                         (profile.userProfile.family.pets != null && profile.userProfile.family.pets.length && profile.userProfile.family.pets[0].name != '') ">
                            <h3>Семья</h3>
                            <div ng-show="profile.userProfile.family.relations != null"><span>Семейное положение: </span> {{profile.userProfile.family.relationsMeta}}</div>
                            <div ng-show="profile.userProfile.family.childs && profile.userProfile.family.childs.length != 0 && profile.userProfile.family.childs[0].name != '' ">
                                <h4>Дети: </h4>
                                <div ng-repeat="child in profile.userProfile.family.childs">
                                    {{child.name}}<span ng-show="child.birthday">, {{child.birthday*1000 | date: 'MM.yyyy'}}</span>
                                </div>
                            </div>
                            <div ng-show="profile.userProfile.family.pets != null && profile.userProfile.family.pets.length != 0 && profile.userProfile.family.pets[0].name != ''">
                                <h4>Питомцы:</h4>
                                <div ng-repeat="pet in profile.userProfile.family.pets">
                                    {{pet.name}}<span ng-show="pet.typeMeta">, {{pet.typeMeta}}</span>
                                    <span ng-show="pet.breed">, {{pet.breed}}</span>
                                </div>

                            </div>
                        </div>

                        <div class="profile-item" ng-show="profile.userProfile.interests &&
                        ((profile.userProfile.interests.userInterests && profile.userProfile.interests.userInterests != '')
                        || (profile.userProfile.interests.job && profile.userProfile.interests.job != ''))">

                            <div ng-show="profile.userProfile.interests.userInterests && profile.userProfile.interests.userInterests != ''">
                                <h3>Интересы</h3>
                                <p>{{profile.userProfile.interests.userInterests}}</p>
                            </div>
                            <div ng-show="profile.userProfile.interests.job && profile.userProfile.interests.job != ''">
                                <h3>Работа</h3>
                                <p>{{profile.userProfile.interests.job}}</p>
                            </div>
                        </div>

                        <div class="profile-item last" ng-show="profile.userProfile.contacts.homeAddress != null">
                            <h3>Домашний адрес</h3>
                            <div>
                                {{profile.userProfile.contacts.homeAddress.street.name + " "+ profile.userProfile.contacts.homeAddress.building.fullNo+", этаж"}}
                                {{profile.userProfile.contacts.homeAddress.floor + ", кв " + profile.userProfile.contacts.homeAddress.flatNo}}
                            </div>
                        </div>

                        <div class="home-map" ng-show="profile.isMayEdit && profile.map.center">
                            <!--<img ng-src="{{ profile.map }}" alt="карта"/>-->
                            <!--<div id="map" style="width: 400px;height: 300px"></div>-->
                            <ya-map ya-zoom="{{profile.map.zoom}}" ya-center="{{ profile.map.center }}" ya-controls="smallMapDefaultSet" style="width: 100%; height: 400px; display: block;">
                                <ya-geo-object ya-source="profile.map.baloon"></ya-geo-object>
                            </ya-map>
                        </div>

                        <!--<div style="margin-bottom:10px;">
                            <h4>Панель предварительного просмотра:</h4>
                            <div style="overflow: hidden; width: 200px; height: 200px;">
                                <img id="preview" src="../i/avatars/clint.jpg"/>
                            </div>
                        </div>

                        <img src="../i/avatars/clint.jpg" alt="#" id="test"/>-->
                    </div>
                </div>
            </div>
        </section>
        <div ui-view></div>
    </div>
</section>

