
        <section class="forum page wall-single ng-cloak">

            <div class="lenta">
                <div class="lenta-item">

                    <div class="wallitem-message wall-single">

                        <div class="first-message clearfix" >
                            <a ui-sref="profile({userId: {{ wallSingle.wallItem.topic.userInfo.id }} })" class="user">
                                <div class="avatar" style="background-image: url({{wallSingle.wallItem.topic.userInfo.avatar}})"></div>
                                <div ng-if="wallSingle.wallItem.topic.userInfo.groupType" class="user-ribbon" ng-class="base.getUserColor(wallSingle.wallItem.topic.userInfo.groupType)"></div>
                            </a>

                            <div class="body text-container"> <!--  ng-switch on="wallSingle.wallItem.topic.metaType" -->
                                <div class="message-tools pull-right" ng-show="wallSingle.wallItem.topic.userInfo.id == base.me.id">
                                    <a href="#" title="Удалить" class="message-delete-link pull-right" ng-click="base.deleteMessage(wallSingle.wallItem.topic,wallSingle.wallItems,true,true)">&times;</a>
                                    <a href="#" title="Редактировать" ng-click="base.setEdit($event,wallSingle.wallItem.topic,false)" class="fa fa-pencil pull-right"></a>
                                </div>

                                <span class="label label-lg arrowed lenta-item-hashtag pull-right"
                                        ng-class="wallSingle.wallItem.tagColor">{{wallSingle.wallItem.label}}</span>

                                <div class="name">
                                    <a ui-sref="profile({userId: {{ wallSingle.wallItem.topic.userInfo.id }} })">{{wallSingle.wallItem.topic.userInfo.firstName+" "+wallSingle.wallItem.topic.userInfo.lastName}}</a>
                                </div>

                                <div ng-hide="wallSingle.wallItem.topic.isEdit">

                                    <div class="text" ng-hide="wallSingle.wallItem.topic.isEdit">{{wallSingle.wallItem.topic.message.content}}</div> <!--  ng-switch-when="message" -->

                                    <div class="attached" ng-show="wallSingle.wallItem.topic.message.images.length || wallSingle.wallItem.topic.message.documents.length">
                                        <a href="{{image.URL}}" class="fancybox" ng-click="$event.preventDefault()" rel="attached-group-{{wallSingle.wallItem.topic.id}}" ng-repeat="image in wallSingle.wallItem.topic.message.images">
                                            <img ng-src="{{image.URL}}?w=150&h=150" alt="картинка"/>
                                        </a>
                                        <div class="docs">
                                            <div ng-repeat="document in wallSingle.wallItem.topic.message.documents"><a ng-href="{{document.URL}}" target="_blank" class="doc-item">{{document.fileName}}</a></div>
                                        </div>
                                    </div>

                                    <div class="poll" ng-if="wallSingle.wallItem.topic.metaType == 'poll'" ng-switch on="wallSingle.wallItem.topic.poll.alreadyPoll" >

                                        <h5>{{wallSingle.wallItem.topic.poll.subject}}</h5>


                                        <div class="poll-do" ng-switch-when="false">

                                            <div class="radio" ng-repeat="variant in wallSingle.wallItem.topic.poll.editNames">
                                                <label>
                                                    <input name="poll-variant-{{wallSingle.wallItem.topic.id}}" ng-model="variant.value" value="1" type="radio" class="ace">
                                                    <span class="lbl">{{variant.name}}</span>
                                                </label>
                                            </div>

                                            <button class="btn btn-sm btn-primary no-border" ng-click="base.doPoll($event,wallSingle.wallItem.topic.poll)">Голосовать</button>

                                        </div>

                                        <div class="poll-results" ng-switch-when="true">

                                            <div class="poll-result-item"  ng-repeat="variant in wallSingle.wallItem.topic.poll.editNames">
                                                <div class="poll-result-variant">{{variant.name}}</div>
                                                <div class="poll-row">
                                                    <div class="poll-row-line">
                                                        <div class="poll-line-percent" ng-style="{width: variant.votersPercent}"></div>
                                                        <div class="poll-line-number" style="width: 100%">{{variant.votersNum}}</div>
                                                    </div>
                                                    <div class="poll-row-percent">{{variant.votersPercent}}</div>
                                                </div>
                                            </div>

                                            <div class="poll-result-amount">Проголосовало <span>{{wallSingle.wallItem.topic.poll.amount}}</span> человек</div>

                                        </div>

                                    </div>
                                </div>

                                <div class="edit-message" ng-show="wallSingle.wallItem.topic.isEdit">
                                    <div ng-include="'templates/createTopic.html'" onload="ctrl=wallSingle.wallItem.topic; initCreateTopic(wallSingle.wallItem.topic);"></div>

                                </div>

                                <div class="lenta-item-bottom">
                                    <a class="pull-right important-status" ng-class="{'important' : wallSingle.wallItem.topic.message.important == 1}" title='{{ wallSingle.wallItem.topic.message.importantText }}' href="#" ng-click="base.markImportant($event,wallSingle.wallItem.topic.message)"><i class="fa fa-star"></i> Важно</a>
                                    <a class="pull-right like-status" ng-class="{'isLike' : wallSingle.wallItem.topic.message.like == 1}" title='Нравится' href="#" ng-click="base.markLike($event,wallSingle.wallItem.topic.message)"><i class="fa fa-heart"></i> Нравится</a>
                                    <div class="like-help" id="like-help-{{wallSingle.wallItem.topic.message.id}}">сообщение уже отмечено</div>

                                    <span >{{wallSingle.wallItem.topic.message.createdEdit}}</span>
                                    <a href="#" ng-click="wallSingle.showAnswerInput($event,wallSingle.wallItem)">Комментировать</a>
                                </div>

                            </div>
                        </div>

                        <div class="dialogs">
                            <div class="itemdiv dialogdiv" ng-repeat="wallMessage in wallSingle.wallItem.messages">
                                <a ui-sref="profile({userId: {{ wallMessage.userInfo.id }} })" class="user">
                                    <div class="avatar short2" style="background-image: url({{wallMessage.userInfo.avatar}})"></div>
                                    <div ng-if="wallMessage.userInfo.groupType" class="user-ribbon" ng-class="base.getUserColor(wallMessage.userInfo.groupType)"></div>
                                </a>

                                <div class="body text-container">
                                    <div class="message-tools pull-right" ng-show="wallMessage.userInfo.id == base.me.id">
                                        <a href="#" title="Удалить" class="message-delete-link pull-right" ng-click="base.deleteMessage(wallMessage,wallSingle.wallItem.messages,false)">&times;</a>
                                        <a href="#" title="Редактировать" ng-click="base.setEdit($event,wallMessage)" class="fa fa-pencil pull-right"></a>
                                    </div>

                                    <div class="name">
                                        <a ui-sref="profile({userId: {{ wallMessage.userInfo.id }} })">{{wallMessage.userInfo.firstName+" "+wallMessage.userInfo.lastName}}</a>
                                    </div>

                                    <div ng-hide="wallMessage.isEdit">

                                        <div class="text" >{{wallMessage.content}}</div>

                                        <div class="attached" ng-show="wallMessage.images.length || wallMessage.documents.length">
                                            <a href="{{image.URL}}" class="fancybox"  ng-click="$event.preventDefault()" rel="attached-group-{{wallSingle.wallItem.topic.id+'-'+wallMessage.id}}" ng-repeat="image in wallMessage.images">
                                                <img ng-src="{{image.URL}}?w=150&h=150" alt="картинка"/>
                                            </a>
                                            <div class="docs">
                                                <div ng-repeat="document in wallMessage.documents"><a ng-href="{{document.URL}}" target="_blank" class="doc-item">{{document.fileName}}</a></div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="edit-message" ng-show="wallMessage.isEdit">

                                        <div ng-include="'templates/editMessage.html'" onload="ctrlMessage=wallMessage; ctrlId = wallMessage.id; initCreateMessage(ctrlId,true);"></div>
                                    </div>

                                    <div class="lenta-item-bottom">
                                        <span >{{wallMessage.createdEdit}}</span>
                                        <a href="#" ng-click="wallSingle.showAnswerInput($event,wallSingle.wallItem,wallMessage)">Ответить</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ng-include="'templates/createMessage.html'" onload="ctrlMessage=wallSingle.wallItem; ctrlId = wallSingle.wallItem.topic.id;initCreateMessage(ctrlId);"></div>

                    </div>

                </div>

            </div>

        </section>






