
    <div class="main-container-inner coming-soon about" ng-controller="aboutCtrl">

        <br />
        <h1>Что такое ВместеОнлайн</h1>
        <p>ВместеОнлайн - это закрытая социальная сеть только для соседей. ВместеОнлайн - это самый простой и безопасный способ для Вас и Ваших соседей общаться онлайн и сделать Вашу реальную жизнь
            немного комфортней. Люди используют ВместеОнлайн для того чтобы:</p>
        <ul>
            <li>получить отзыв о детском саде или школе поблизости;</li>
            <li>создать инициативную группу для решения проблемы;</li>
            <li>обсудить работу управляющей компании;</li>
            <li>организовать групповую закупку;</li>
            <li>выбрать интернет-провайдера;</li>
            <li>узнать как зовут соседей.</li>
        </ul>
        <p>Используя современные технологии мы создаем добрососедские отношения!</p>
        <br />

        <h1>Во что мы верим</h1>
        <p>Мы создали ВместеОнлайн потому, что мы верим, что добрососедские отношения - это очень важный шаг на пути к более комфортной и более безопасной жизни. Мы верим, что вокруг нас живет много
            хороших и небезразличных людей, которые вместе смогут сделать окружающий мир лучше. ВместеОнлайн - это удобный и современный способ общения. Мы сделали ВместеОнлайн для Вас.</p>
        <br />

        <h1>Приватность</h1>
        <p>Онлайн-приватность никогда не бывает лишней. На сайте ВместеОнлайн Вы можете обсуждать с соседями онлайн все, что обсуждаете лично, встречаясь у лифта.</p>
        <p>Мы гарантируем, что:</p>
        <ul>
            <li>Доступ на сайт возможен только по коду-приглашению, который доставляется в почтовый ящик;</li>
            <li>Вся информация передается по шифрованному протоколу HTTPS;</li>
            <li>Мы никогда не дадим рекламодателям доступ к Вашим данным;</li>
            <li>Содержимое сайта никогда не будет доступно поисковым системам.</li>
        </ul>
        <div>
            <a href="/main">Вернуться на главную</a>
        </div>
        <br/>

    </div>

