
    <div class="main-container-inner coming-soon" ng-controller="contactsCtrl as ctrl">

        <div class="wrap contacts">
            <br/>
            <br/>
            <br/>
        <p>Если вам есть что сказать, заполните форму и нажмите "Отправить"</p>
            <br/>

        <form action="#">

            <div class="auth" ng-if="ctrl.isAuth">

                <div class="contacts-user clearfix">
                    <div class="avatar short pull-left" style="background : url('{{ctrl.user.avatar}}')"></div>

                    <div class="user-name">{{ctrl.user_name}}</div>
                </div>

            </div>

            <div class="not-auth" ng-if="!ctrl.isAuth">

                <input class="input name" ng-model="ctrl.name" type="text" placeholder="Имя"/>
                <input class="input email" ng-model="ctrl.email" type="email" placeholder="E-mail"/>

            </div>

            <textarea class="content no-resize" ng-model="ctrl.content" onblur="if(this.value=='') this.value='Сообщение';" onfocus="if(this.value=='Сообщение') this.value='';">Сообщение</textarea>

            <button class="btn btn-sm btn-primary no-border send" ng-click="ctrl.send($event)">Отправить</button>
            <span class="info-good hidden">Ваше сообщение отправлено</span>
        </form>
            <br/>
            <div>
                <a href="/">Вернуться на главную</a>
            </div>
            <br/>
        </div>

    </div>
