
    <section ng-if="!base.me.addressConfirmed" ng-include="'/static/partials/unconfirm.html'"></section>

    <div ng-if="base.me.addressConfirmed">
        <section class="forum page" ng-show="base.lentaIsActive" infinite-scroll="lenta.addMoreItems()">

        <div class="create-wall-wrap">
            <textarea class="no-resize" ng-click="lenta.isOpenMessageBar = true" ng-hide="lenta.isOpenMessageBar">Написать сообщение</textarea>

            <div ng-show="lenta.isOpenMessageBar">
                <a class="write-mess-selectGroup" href="#" ng-click="lenta.showGroups()">
                    <i class="pull-right fa" ng-class="{'fa-chevron-down': !lenta.isGroupsInMessShow, 'fa-chevron-up':lenta.isGroupsInMessShow}"></i>
                    <span ng-if="!lenta.selGroupName">Выберите группу</span>
                    <span ng-if="lenta.selGroupName">{{lenta.selGroupName}}</span>
                </a>
                <ul class="select-group-list" ng-show="lenta.isGroupsInMessShow">
                    <li ng-repeat="group in groups | orderBy: 'id':reverse" ng-click="lenta.selectGroupNew(group)">
                        <label href="#">
                            <input name="select-wall-group" type="radio"/>
                            {{group.visibleName}}
                        </label>
                    </li>
                </ul>
                <textarea ng-model="lenta.message.content" class="topic-textarea no-resize" ng-keyup="base.messageChange($event,1)"
                          ng-blur="base.textareaBlur(lenta.message.content,lenta.message.default,lenta,true)" ng-focus="base.textareaFocus(lenta.message.content,lenta.message.default,lenta,true)"
                          ng-hasfocus="base.isLentaFocus">Написать сообщение</textarea>

                <div>
                    <div>
                        <div class="attach-area" id="attach-area-{{lenta.attachId}}">
                            <div class="loading hidden">
                                <img ng-src="/static/i/loading2.gif" alt="картинка"/>
                            </div>
                        </div>
                        <div class="attach-area attach-area-doc" id="attach-doc-area-{{lenta.attachId}}"></div>
                    </div>
                </div>

                <div class="message-input-bottom">
                    <div class="pull-right">
                        <button class="pull-right btn btn-sm no-border btn-primary" ng-click="createTopic($event,lenta)">Отправить</button>
                        <a href="#" class="pull-right close-messageBar" ng-click="lenta.isOpenMessageBar=false">Закрыть</a>
                    </div>

                    <div class="btn-group attach-dropdown pull-left">
                        <button data-toggle="dropdown" class="btn btn-info btn-sm dropdown-toggle no-border" data-producerid="0">
                            <span class="btn-group-text">Прикрепить</span>
                            <span class="icon-caret-down icon-on-right"></span>
                        </button>

                        <ul class="dropdown-menu dropdown-blue" ng-show="lenta.isEdit">
                            <li><input id="attachImage-edit-{{lenta.id}}" type="file"/></li>
                            <li><input id="attachDoc-edit-{{lenta.id}}" type="file"/></li>
                            <li><a href="#" ng-click="base.showPoll($event,lenta)" ng-show="lenta.isPollAvailable">Опрос</a></li>
                        </ul>

                        <ul class="dropdown-menu dropdown-blue" ng-hide="lenta.isEdit">
                            <li><input id="attachImage-{{lenta.attachId}}" type="file"/></li>
                            <li><input id="attachDoc-{{lenta.attachId}}" type="file"/></li>
                            <li><a href="#" ng-click="base.showPoll($event,lenta)" ng-show="lenta.isPollAvailable">Опрос</a></li>
                        </ul>

                    </div>
                </div>

                <span class="error-info" ng-show="lenta.isCreateMessageError">{{lenta.createMessageErrorText}}</span>

                <div class="clearfix"></div>

            </div>
        </div>


        <!--<div ng-include="'/static/templates/createTopic.html'" onload="ctrl=lenta; initCreateTopic(lenta);"
             ng-show="lenta.isCreateNewsShow[currentGroup.id] || lenta.wallItems.length > 0"></div>-->

            <div class="lenta">
                <div ng-if="!lenta.wallItems || lenta.wallItems.length == 0" class="empty-messages">
                    <div ng-include="'/static/partials/empty/empty-main.html'"></div>
                </div>
                <div class="lenta-item" ng-repeat="wallItem in lenta.wallItems"
                        ng-switch on="wallItem.topic.message.type" id="{{wallItem.topic.id}}">

                    <div class="wallitem-message" ng-switch-when="5">

                        <div class="first-message clearfix" >
                            <a ui-sref="profile({userId: {{ wallItem.topic.userInfo.id }} })" class="user">
                                <div class="avatar" style="background-image: url({{wallItem.topic.userInfo.avatar}})"></div>
                                <div ng-if="wallItem.topic.userInfo.groupType" class="user-ribbon" ng-class="base.getUserColor(wallItem.topic.userInfo.groupType)"></div>
                            </a>

                            <div class="body text-container">

                                <div class="message-tools pull-right" ng-show="wallItem.topic.userInfo.id == base.me.id || wallItem.topic.canChange">
                                    <a href="#" title="Удалить" class="message-delete-link pull-right" ng-click="base.deleteMessage(wallItem.topic,lenta.wallItems,true,true)">&times;</a>
                                    <a href="#" title="Редактировать" ng-click="base.setEdit($event,wallItem.topic,false)" class="fa fa-pencil pull-right"></a>
                                </div>

                                <span class="label label-lg arrowed lenta-item-hashtag pull-right"
                                        ng-class="wallItem.tagColor">{{wallItem.label}}</span>
                                <div class="name">
                                    <a ui-sref="profile({userId: {{ wallItem.topic.userInfo.id }} })">{{wallItem.topic.authorName}}</a>
                                </div>

                                <div ng-hide="wallItem.topic.isEdit">

                                    <div ng-if="wallItem.topic.message.content.length < base.contentLength">

                                        <div class="text" ng-bind-html="wallItem.topic.message.content"></div>
                                    </div>
                                    <div ng-if="wallItem.topic.message.content.length >= base.contentLength">
                                        <div class="text" ng-hide="wallItem.topic.isFullText">
                                            <div ng-bind-html="wallItem.topic.message.content.slice(0,base.contentLength-1)"></div>
                                            <div><a href="#" ng-click="base.toggleFullText(wallItem.topic)">читать далее...</a></div>
                                        </div>
                                        <div class="text" ng-show="wallItem.topic.isFullText">
                                            <div ng-bind-html="wallItem.topic.message.content"></div>

                                            <div><a href="#" ng-click="base.toggleFullText(wallItem.topic)">свернуть</a></div>
                                        </div>
                                    </div>

                                    <div class="attached" ng-show="wallItem.topic.message.images.length || wallItem.topic.message.documents.length">
                                        <a href="{{image.URL}}" class="fancybox" ng-click="$event.preventDefault()" rel="attached-group-{{wallItem.topic.id}}" ng-repeat="image in wallItem.topic.message.images">
                                            <img ng-src="{{image.URL}}?w=150&h=150" alt="картинка"/>
                                        </a>
                                        <div class="docs">
                                            <div ng-repeat="document in wallItem.topic.message.documents"><a ng-href="{{document.URL}}" target="_blank" class="doc-item">{{document.fileName}}</a></div>
                                        </div>
                                    </div>

                                    <div class="poll" ng-if="wallItem.topic.metaType == 'poll'" ng-switch on="wallItem.topic.poll.alreadyPoll" >

                                        <h5>{{wallItem.topic.poll.subject}}</h5>

                                        <!-- -->

                                        <div class="poll-do" ng-switch-when="false">

                                            <div class="radio" ng-repeat="variant in wallItem.topic.poll.editNames">
                                                <label>
                                                    <input name="poll-variant-{{wallItem.topic.id}}" ng-model="variant.value" value="1" type="radio" class="ace">
                                                    <span class="lbl">{{variant.name}}</span>
                                                </label>
                                            </div>

                                            <button class="btn btn-sm btn-primary no-border" ng-click="base.doPoll($event,wallItem.topic.poll)">Голосовать</button>

                                        </div>
                                        <!-- -->

                                        <div class="poll-results" ng-switch-when="true">

                                            <div class="poll-result-item"  ng-repeat="variant in wallItem.topic.poll.editNames">
                                                <div class="poll-result-variant">{{variant.name}}</div>
                                                <div class="poll-row">
                                                    <div class="poll-row-line">
                                                        <div class="poll-line-percent" ng-style="{width: variant.votersPercent}"></div>
                                                        <div class="poll-line-number" style="width: 100%">{{variant.votersNum}}</div>
                                                    </div>
                                                    <div class="poll-row-percent">{{variant.votersPercent}}</div>
                                                </div>
                                            </div>

                                            <div class="poll-result-amount">Проголосовало <span>{{wallItem.topic.poll.amount}}</span> человек</div>

                                        </div>

                                    </div>
                                </div>

                                <div class="edit-message" ng-show="wallItem.topic.isEdit">

                                    <div ng-include="'/static/templates/createTopic.html'" onload="ctrl=wallItem.topic; initCreateTopic(wallItem.topic);"></div>

                                </div>

                                <div class="lenta-item-bottom">
                                    <a class="pull-right important-status" ng-class="{'important' : wallItem.topic.message.important == 1}" title='{{ wallItem.topic.message.importantText }}' href="#" ng-click="base.markImportant($event,wallItem.topic.message)"><i class="fa fa-star"></i> Важно</a>
                                    <a class="pull-right like-status" ng-class="{'isLike' : wallItem.topic.message.like == 1}" title='Нравится' href="#" ng-click="base.markLike($event,wallItem.topic.message)"><i class="fa fa-heart"></i> Нравится</a>
                                    <div class="like-help" id="like-help-{{wallItem.topic.message.id}}">сообщение уже отмечено</div>

                                    <span >{{wallItem.topic.message.createdEdit}}</span>
                                    <a href="#" ng-click="lenta.showAnswerInput($event,wallItem)">Комментировать</a>
                                </div>

                            </div>
                        </div>

                        <div class="dialogs">

                            <div ng-show="wallItem.messages.length > COMMENTS_DEFAULT_COUNT" class="show-all-comments">
                                <a href="#" ng-hide="wallItem.isOpen" ng-click="lenta.toggleComments($event,wallItem)">Показать все {{wallItem.messages.length}} комментариев</a>
                                <a href="#" ng-show="wallItem.isOpen" ng-click="lenta.toggleComments($event,wallItem)">Скрыть комментарии</a>
                            </div>

                            <div class="itemdiv dialogdiv" ng-repeat="wallMessage in wallItem.bufferMessages"> <!-- ng-repeat="wallMessage in wallItem.messages" -->
                                <a ui-sref="profile({userId: {{ wallMessage.userInfo.id }} })" class="user">
                                    <div class="avatar short2" style="background-image: url({{wallMessage.userInfo.avatar}})"></div>

                                    <div ng-if="wallMessage.userInfo.groupType" class="user-ribbon" ng-class="base.getUserColor(wallMessage.userInfo.groupType)"></div>
                                </a>

                                <div class="body text-container">
                                    <div class="message-tools pull-right" ng-show="wallMessage.userInfo.id == base.me.id || wallMessage.canChange">
                                        <a href="#" title="Удалить" class="message-delete-link pull-right" ng-click="base.deleteMessage(wallMessage,wallItem.messages,false)">&times;</a>
                                        <a href="#" title="Редактировать" ng-click="base.setEdit($event,wallMessage)" class="fa fa-pencil pull-right"></a>
                                    </div>

                                    <div class="name">
                                        <a ui-sref="profile({userId: {{ wallMessage.userInfo.id }} })">{{wallMessage.authorName}}</a>
                                    </div>

                                    <div ng-hide="wallMessage.isEdit">

                                        <div ng-if="wallMessage.content.length < base.contentLength">

                                            <div class="text" ng-bind-html="wallMessage.content"></div>
                                        </div>
                                        <div ng-if="wallMessage.content.length >= base.contentLength">
                                            <div class="text" ng-hide="wallMessage.isFullText">
                                                <div ng-bind-html="wallMessage.content.slice(0,base.contentLength-1)"></div>
                                                <div><a href="#" ng-click="base.toggleFullText(wallMessage)">читать далее...</a></div>
                                            </div>
                                            <div class="text" ng-show="wallMessage.isFullText">
                                                <div ng-bind-html="wallMessage.content"></div>

                                                <div><a href="#" ng-click="base.toggleFullText(wallMessage)">свернуть</a></div>
                                            </div>
                                        </div>

                                        <div class="attached" ng-show="wallMessage.images.length || wallMessage.documents.length">
                                            <a href="{{image.URL}}" class="fancybox" rel="attached-group-{{wallItem.topic.id+'-'+wallMessage.id}}" ng-repeat="image in wallMessage.images">
                                                <img ng-src="{{image.URL}}?w=150&h=150" alt="картинка"/>
                                            </a>
                                            <div class="docs">
                                                <div ng-repeat="document in wallMessage.documents"><a ng-href="{{document.URL}}" target="_blank" class="doc-item">{{document.fileName}}</a></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="edit-message" ng-show="wallMessage.isEdit">

                                        <div ng-include="'/static/templates/editMessage.html'" onload="ctrlMessage=wallMessage; ctrlId = wallMessage.id; initCreateMessage(ctrlId,true);"></div>
                                    </div>

                                    <div class="lenta-item-bottom">
                                        <span >{{wallMessage.createdEdit}}</span>
                                        <a href="#" ng-click="lenta.showAnswerInput($event,wallItem,wallMessage)">Ответить</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ng-include="'/static/templates/createMessage.html'" onload="ctrlMessage=wallItem; ctrlId = wallItem.topic.id;initCreateMessage(ctrlId);"></div>

                    </div>

                    <div class="wallitem-topic" ng-switch-when="1">
                        <div class="talks-title">
                            <div class="talks-title-right">
                                <span class="label label-lg arrowed lenta-item-hashtag pull-right"
                                      ng-class="wallItem.tagColor">{{wallItem.label}}</span>

                                <a class="pull-right important-status" ng-class="{'important' : wallItem.topic.message.important == 1}" title='{{ wallItem.topic.message.importantText }}' href="#" ng-click="base.markImportant($event,wallItem.topic.message)"><i class="fa fa-star"></i></a>
                                <a class="pull-right like-status" ng-class="{'isLike' : wallItem.topic.message.like == 1}" title='Нравится' href="#" ng-click="base.markLike($event,wallItem.topic.message)"><i class="fa fa-heart"></i></a>
                                <div class="like-help" id="like-help-{{wallItem.topic.message.id}}">сообщение уже отмечено</div>

                                <div class="clearfix"></div>
                            </div>

                            <div class="talks-title-left load-talk">
                                <a ui-sref="talks-single({ talkId : {{wallItem.topic.id}} })">{{wallItem.topic.subject}}</a>
                                <div>{{wallItem.topic.messageNum}} сообщений</div>
                            </div>

                            <div class="last-update pull-right">
                                <div>Последнее обновление: {{wallItem.topic.lastUpdateEdit}}</div>
                            </div>
                        </div>
                    </div>

                </div>

            <div class="bottom-border-line" ng-if="lenta.wallItems.length > 0"></div>

            </div>

        </section>
    </div>






