
<!--<section class="profit nearby page ng-cloak">

    <section class="talks-title-block">

        <div class="talks-title" ng-repeat="advert in nearby.topics" id="{{advert.id}}">

            <div class="talks-title-left load-talk nearby-short-descr">
                <a ui-sref="profile({ userId : {{advert.userInfo.id}} })"
                   class="avatar big pull-left" style="background-image: url('{{ advert.userInfo.avatar }}')"></a>

                <div class="talks-title-links">
                    <a ui-sref="nearby-single({ advertId : {{advert.id}} })">Евразия</a>

                    <p>Суши для всех !</p>
                    <p>Дешево</p>
                    <p>Часы работы: 9.00-23.00 </p>
                    <p>Средний чек: 450р</p>
                    <p>Адрес: Ленинский 76 к 1</p>
                    <p></p>
                </div>

                <a  ui-sref="nearby-single({ advertId : {{advert.id}} })" class="pull-right nearby-more">Подробнее</a>

            </div>

        </div>

    </section>

</section>-->

<div class="wallitem-message blog">

    <!-- data-postlink="<%=Blog.topics.get(i).message.content%>" data-topicid="<%=Blog.topics.get(i).id%>" -->
    <div class="post" ng-repeat="post in nearby.posts.topics">
        <div class="topic">
            <div ng-include="post.short"></div>
        </div>
        <div class="topic-stuff">
            <a href="#" class="show-comment" ng-click="nearby.toggleComm($event,post)">
                <span ng-show="post.isCommentShow">Скрыть комментарии</span>
                <span ng-show="!post.isCommentShow">Показать комментарии</span>
            </a> |
            <a href="#" class="make-comment" ng-click="nearby.toggleInput($event,post)">Комментировать</a>
        </div>

        <div class="dialogs">
            <div class="itemdiv dialogdiv new" ng-repeat="comm in post.comments" ng-show="post.isCommentShow">
                <a ui-href="profile-{{comm.userInfo.id}}" class="user" ng-class="{'no-link': !comm.userInfo}">
                    <div class="avatar short2" style="background-image: url({{comm.userInfo.avatar}})"></div>
                </a>
                <div class="body">
                    <div class="name">
                        <a ui-href="profile-{{comm.userInfo.id}}" ng-class="{'no-link': !comm.userInfo}">{{comm.userInfo.firstName+" "+comm.userInfo.lastName}}</a>
                    </div>
                    <div class="text">{{comm.content}}</div>
                    <div class="lenta-item-bottom">
                        <span>{{nearby.getTiming(comm.created)}}</span>
                        <a href="#" ng-click="nearby.toggleInput($event,post)"> Ответить</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="input-group" ng-show="post.isInputShow">

            <input type="text" class="anonName" placeholder="Имя Фамилия" ng-if="!nearby.isAuth" ng-model="post.anonName"/>

            <textarea class="message-textarea" ng-focus="true" ng-model="post.commenting"
                      onblur="if(this.value=='') this.value='Ваш ответ';"
                      onfocus="if(this.value=='Ваш ответ') this.value='';" ></textarea>


            <span class="input-group-btn">
                <button class="btn btn-sm btn-info no-radius no-border send-in-blog" type="button" ng-click="nearby.sendComm($event,post)">
                    <i class="icon-share-alt"></i>
                    Комментировать
                </button>
                <span class="error-info"></span>

            </span>
        </div>

        <a ui-sref="nearby-single({ postId : {{post.id}} })" class="pull-right nearby-more">Подробнее</a>

    </div>
</div>
