
<!--<section class="profit nearby page ng-cloak">

    <section class="talks-title-block">

        <div class="talks-title" ng-repeat="advert in nearby.topics" id="{{advert.id}}">

            <div class="talks-title-left load-talk nearby-short-descr">
                <a ui-sref="profile({ userId : {{advert.userInfo.id}} })"
                   class="avatar big pull-left" style="background-image: url('{{ advert.userInfo.avatar }}')"></a>

                <div class="talks-title-links">
                    <a ui-sref="nearby-single({ advertId : {{advert.id}} })">Евразия</a>

                    <p>Суши для всех !</p>
                    <p>Дешево</p>
                    <p>Часы работы: 9.00-23.00 </p>
                    <p>Средний чек: 450р</p>
                    <p>Адрес: Ленинский 76 к 1</p>
                    <p></p>
                </div>

                <a  ui-sref="nearby-single({ advertId : {{advert.id}} })" class="pull-right nearby-more">Подробнее</a>

            </div>

        </div>

    </section>

</section>-->

<div class="wallitem-message blog nearby">

    <!-- data-postlink="<%=Blog.topics.get(i).message.content%>" data-topicid="<%=Blog.topics.get(i).id%>" -->
    <div class="post" ng-repeat="post in nearby.businessList">

        <div class="topic nearby-list clearfix">
            <div class="nearby-list-left pull-left">
                <img ng-src="{{post.logoURL }}"/>
            </div>
            <div class="nearby-list-right pull-left">
                <h4>{{post.shortName}}</h4>
                <div>{{post.shortInfo}}</div>
                <div>{{post.address}}</div>
            </div>
        </div>

        <a ui-sref="nearby-single({ nearbyId : {{post.id}} })" class="pull-right nearby-more">Подробнее</a>
        <div class="clearfix"></div>

    </div>
</div>
