
    <div ng-controller="UnconfirmedCtrl as ctrl" class="unconfirm">
        <br/>
        <h2>Отлично! Для доступа, осталось дождаться подтверждения адреса вашего проживания.</h2>
        <p>В течение ближайших двух дней мы отправим конверт с уникальным кодом на адрес, который вы указали при регистрации. Как только вы введете этот код, вы получите полноценный доступ к сайту.</p>
        <p>Код нужен для вас и ваших соседей, он является гарантией, что вы находитесь в кругу соседей – без посторонних, ведь адрес проживания каждого подтвержден.</p>
    	<p>Мы строго сохраняем конфиденциальность информации о вашем месте проживания, она используется исключительно для организации общения, и информирования.</p>
        <p>Конверт с кодом доставляется через обычную почтовую службу, возможно вам придется проявить терпение, но срок действия кода не ограничен не беспокойтесь ;)</p>
    	<br/>        
        <div class="col-md-4 col-sm-12 col-md-offset-4 code-block">
            <br/>
            <div><input type="text" ng-model="ctrl.code" class="form-control input-lg code-input" placeholder="Код доступа"/></div>
            <br/>

            <button class="btn btn-primary no-border btn-lg" ng-click="ctrl.unconfLogin()">Войти</button>
            <br/>
            <br/>

            <div class="error-info" ng-show="ctrl.isErrorConfirm">Неверный код !</div>
        </div>
    </div>

